/* .slick-dots {
  bottom: -18px;
}
.slick-dots ul {
  align-items: center;
  display: flex;
  justify-content: center;
}
.slick-dots ul {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  border: 1px solid var(--purple);
  flex-shrink: 0;
}
.slick-dots ul .slick-active {
  background-color: var(--purple);
  width: 32px;
  height: 12px;
  border-radius: 6px;
}
.slick-dots li.slick-active button:before {
  display: none;
}
.slick-dots li button:before {
  display: none;
} */
.product .mer-sale-list .slick-slide {
  padding: 0 16px;
}
.product .mer-sale-list {
  padding-bottom: 64px;
}
