.mb-ac{
      display: none;
}
/* Mobile */
@media only screen and (max-width: 769px) {
      .mb-ac{
            display: block;
            padding: 24px;
            background-color: var(--bgWhite);
      }
      .mb-ac__cnt-avt{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--bgWhite);
            padding: 8px 8px;
            /* position: sticky;
            top: 0px; */
      }
      .mb-ac__cnt-avt-ch{
            padding: 12px 4px;
            box-shadow: 0 6px 15px #dcd8ee;
      }
      .mb-ac__cnt-avt-wrap{
            padding: 8px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 0.7s;
            border-radius: 12px;
            box-shadow: 0 6px 15px #dcd8ee;
      }
      .mb-ac__cnt-avt-wrap-change{
            flex-direction: row;
            justify-content: flex-start;
            transition: all 0.7s;
      }
      .mb-ac__cnt-avt-box-img{
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 100%;
            object-fit: cover;
            transition: all 0.7s;
      }
      .mb-ac__cnt-avt-box-img-change{
            width: 60px;
            height: 60px;
            margin-right: 12px;
            transition: all 0.7s;
      }
      .mb-ac__cnt-avt-box button{
            padding: 8px;
            border: none;
            outline: none;
            border-radius: 100%;
            position: absolute;
            z-index: 2;
            background-color: var(--grey);
            margin: -20px 0px 0px 42px;
      }
      .mb-ac__cnt-avt-box button img{
            width: 16px;
            height: 16px;
      }
      .mb-ac__cnt-avt-name{
            margin: 20px 0px 0px 0px;
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            color: var(--black);
      }
      .mb-ac__cnt-avt-name-change{
            margin: 0px;
      }
      .mb-ac__cnt-avt-rank{
            margin-top: 16px;
            width: 100%;
      }
      .mb-ac__cnt-avt-rank ul{
            display: flex;
            justify-content: space-between;
            width: 100%;
      }
      .mb-ac__cnt-avt-rank ul li{
            width: fit-content;
            padding: 0px 8px;
      }
      .mb-ac__cnt-avt-rank .item{
            background-color: var(--grey);
            padding: 4px 8px;
            justify-content: center;
            border-radius: 8px;
      }
      .mb-ac__cnt-avt-rank .item-cnt{
            display: flex;
            flex-direction: column;
            margin-left: 4px;
      }
      .mb-ac__cnt-avt-rank .item-cnt span:nth-child(1){
            font-size: 11px;
            line-height: 12px;
            color: var(--text-hover);
            font-weight: 700;
      }
      .mb-ac__cnt-avt-rank .item-cnt span:nth-child(2){
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            color: var(--black);
      }
      .mb-ac__cnt-private{
            margin: 24px 0px;
      }
      .mb-ac__cnt-private ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
      }
      .mb-ac__cnt-private ul li{
            width: 50%;
            padding: 6px;
            padding: 8px;
      }
      .mb-ac__cnt-private-item{
            background-color: var(--bgWhite);
            height: 96px;
            padding: 12px;
            border-radius: 12px;
            box-shadow: 0 6px 15px #dcd8ee;
      }
      .mb-ac__cnt-private-item img{
            width: 32px;
            height: 32px;
      }
      .mb-ac__cnt-private-item span{
            margin-top: 12px;
            font-size: 12px;
            line-height: 14px;
            font-weight: 700;
            color: var(--purple);
            text-align: center;
      }
      /* orders */
      .mb-order{
            width: 100%;
            min-height: max-content;
            height: 100%;
            background-color: var(--bgWhite);
            overflow-y: scroll;
      }
}