.time-pk{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
}
.date-pk__item{
      width: 20%;
      background-color: var(--bgWhite);
      padding: 4px;
}
.date-pk__item-box{
      cursor: pointer;
      padding: 6px 0px;
      text-align: center;
      border: solid 1px var(--purple);
      border-radius: 6px;
      font-size: 14px;
      font-weight: 700;
}