/* head */
.mer-detail{
      padding: 64px 0px 24px 0px;
      width: 100%;
      background-color: var(--purple);
}
.mer-detail__content{
      display: flex;
      width: 100%;
      height: max-content;
      justify-content: space-between;
}
.mer-detail__content-left{
      width: 48.5%;
      height: fit-content;
      background-color: var(--bg-gray);
      border-radius: 24px;
      padding: 36px;
      display: flex;
      flex-direction: column;
}
.content-left__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 24px;
      border-bottom: solid 1px var(--bg-color);
}
.content-left__header-name{
      width: calc(100% - 96px);
      padding-left: 16px;
}
.content-left__header-name span{
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      color: var(--purple);
}
.mer-detail__rate{
      display: flex;
      align-items: center;
}
.mer-detail__rate span{
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: var(--text-black);
}
.mer-detail__rate img{
      margin-right: 8px;
}
.content-left__info-detail{
      display: flex;
      align-items: center;
}
.content-left__info-detail span,
.content-left__info-detail span h5{
      padding-left: 4px;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: var(--text-black);
}
.content-left__info-detail span h5{
      color: var(--purple);
      margin-right: 4px;
}
.content-left__work{
      display: flex;
      justify-content: space-between;
}
.content-left__work-item{
      background-color: var(--bg-color);
      width: 48%;
      text-align: center;
      padding: 4px;
      border-radius: 8px;
}
.content-left__work-item span{
      color: #A2A1AB;
      font-size: 11px;
      line-height: 12px;
      font-weight: 700;
}
.content-left__work-item p{
      color: var(--text-black);
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: var(--text-black);
}
.content-left__follow{
      margin-top: 24px;
}
.content-left__follow button{
      border: solid 1px var(--purple);
      cursor: pointer;
      outline: none;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: var(--purple);
      background-color: transparent;
      padding: 8px 16px;
      border-radius: 18px;
      transition: 0.4s;
}
.content-left__follow button:first-child{
      margin-right: 16px;
}
/* mer-detail__content-right */
.mer-detail__content-right{
      width: 48.5%;
      height: fit-content;
      border-radius: 24px;
}
.mer-detail__content-right div{
      border-radius: 24px;
}
/* Detail tab */
.mer-detail__tab{
      padding-top: 64px;
      display: flex;
}
.mer-detail__tab li{
      list-style: none;
      margin-right: 24px;
}
.mer-detail__tab-item{
      cursor: pointer;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      color: var(--text-op);
      padding-bottom: 6px;
}
/* Mer detail info */
.mer-detail__content-desc{
      width: 100%;
      height: fit-content;
      padding: 64px 0px;
      background-color: var(--bg-gray-dark);
      display: flex;
      justify-content: center;
      align-items: flex-start;
}
.mer-detail__content-info,
.mer-detail__content-cmt{
      width: 50%;
}
.mer__content-info__introduction .text{
      height: 74px;
      overflow: hidden;
      margin: 16px 0px 30px 0px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: var(--text-black);
      box-shadow:inset 0px -22px 13px -5px rgba(59,58,64,0.16);
      transition: 0.2s;
}
.mer__content-info__introduction span{
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: var(--purple);
}
/* unties */
.mer__content-info__util-list{
      display: flex;
      justify-content: space-between;
}
.mer__content-info__util-list li{
      list-style: none;
}