/* head */
.mer-detail {
  padding: 64px 0px 24px 0px;
  width: 100%;
  background-color: var(--purple);
}
.mer-detail__content {
  display: flex;
  width: 100%;
  height: max-content;
  justify-content: space-between;
}
.mer-detail__content-left {
  width: 48.5%;
  /* height: 385px; */
  background-color: var(--bg-gray);
  border-radius: 24px;
  padding: 36px;
  display: flex;
  flex-direction: column;
}
.content-left__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: solid 1px var(--bg-color);
}
.content-left__header-name {
  width: calc(100% - 96px);
  padding-left: 16px;
}
.content-left__header-name span {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  color: var(--purple);
}
.mer-detail__rate {
  display: flex;
  align-items: center;
}
.mer-detail__rate span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-black);
}
.mer-detail__rate img {
  margin-right: 8px;
}
.content-left__info {
  padding-bottom: 4px;
}
.content-left__info:nth-child(2) {
  margin-top: 24px;
}
.content-left__info-detail {
  display: flex;
  align-items: center;
}
.content-left__info-detail span,
.content-left__info-detail span h5 {
  padding-left: 4px;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--text-black);
}
.content-left__info-detail span h5 {
  color: var(--purple);
  margin-right: 4px;
}

.content-left__work {
  display: flex;
  justify-content: space-between;
}
.content-left__work-item {
  background-color: var(--bg-color);
  width: 48%;
  text-align: center;
  padding: 4px;
  border-radius: 8px;
}
.content-left__work-item span {
  color: #a2a1ab;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
}
.content-left__work-item p {
  color: var(--text-black);
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-black);
}
.content-left__follow {
  margin-top: 24px;
}
.content-left__follow button {
  border: solid 1px var(--purple);
  cursor: pointer;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--purple);
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 18px;
  transition: 0.4s;
}
.content-left__follow button:first-child {
  margin-right: 16px;
}
/* mer-detail__content-right */
.mer-detail__content-right {
  height: 415px;
  width: 48.5%;
  border-radius: 24px;
}
.mer-detail__content-right div {
  border-radius: 24px;
}
/* Detail tab */
.mer-detail__cnt {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--purple);
  padding: 40px 0px 24px 0px;
}
.mer-detail__tab {
  display: flex;
}
.mer-detail__tab li {
  list-style: none;
  margin-right: 24px;
}
.mer-detail__tab-item {
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-op);
  padding-bottom: 6px;
}
/* Mer detail info */
.mer-detail__content-desc {
  width: 100%;
  height: fit-content;
  padding: 64px 0px;
  background-color: var(--bg-gray);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.mer-detail__content-info,
.mer-detail__content-cmt {
  width: 50%;
}
.mer-detail__content-info {
  padding-right: 32px;
}
.mer-detail__content-cmt {
  padding-left: 32px;
  padding: 36px;
  border-radius: 24px;
  box-shadow: 0px 6px 15px #dcd8ee;
}
.mer__content-info__introduction .text {
  height: 74px;
  overflow: hidden;
  margin: 16px 0px 30px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--text-black);
  box-shadow: inset 0px -22px 13px -5px rgba(59, 58, 64, 0.16);
  transition: 0.2s;
}
.mer__content-info__introduction span {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--purple);
}
/* unties */
.mer__content-info__util {
  margin-top: 60px;
}
.mer__content-info__util-list {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.mer__content-info__util-list li {
  list-style: none;
  width: 25%;
  padding: 0px 8px;
}
.mer__content-info__util-item {
  padding: 4px 8px;
  background-color: var(--bg-color);
  border-radius: 8px;
  justify-content: flex-start;
}
.mer__content-info__util-item span {
  padding-left: 4px;
}
.mer__content-info__util-item span h5 {
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  color: var(--text-op);
}
.mer__content-info__util-item span p {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
}
/* personnel */
.mer__content-info__personnel {
  margin-top: 64px;
}
.mer__content-info__personnel-list {
  flex-wrap: wrap;
  padding: 16px 0px;
}
.mer__content-info__personnel-list li {
  width: 46%;
  list-style: none;
  margin: 12px 0px;
}
.mer__content-info__personnel-item img {
  width: 44px;
  height: 44px;
  border-radius: 100%;
}
.info__personnel-item-box {
  width: calc(100% - 44px);
  padding-left: 16px;
}
.info__personnel-item-box span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-black);
}
.info__personnel-detail div h4 {
  font-size: 11px;
  line-height: 12px;
  font-weight: 400;
  color: var(--text-black);
  margin: 4px 0px;
}
.info__personnel-detail div p {
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  color: var(--text-black);
}
/* comment */
.mer-detail-cmt__head-star {
  font-size: 32px;
  line-height: 36px;
  color: var(--purple);
  font-weight: 700;
  margin-left: 16px;
}
.mer-detail-cmt__head-star img {
  width: 24px;
  height: 24px;
}
.mer-detail-cmt__head-total {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--text-black);
}
.mer-detail-cmt__head-total span {
  font-weight: 700;
  color: var(--purple);
}
.mer-detail-cmt__box {
  padding: 18px 0px;
}
.mer-detail-cmt__box-li {
  list-style: none;
  margin: 12px 0px;
}
.mer-detail-cmt__box-item .cmt-head__user {
  justify-content: flex-start;
}
.mer-detail-cmt__box-item .cmt-head__user span {
  padding-left: 16px;
}
.mer-detail-cmt__box-item .cmt-head__user span p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  color: var(--text-blacks);
}
.mer-detail-cmt__box-item .cmt-head__user span ul {
  display: flex;
}
.mer-detail-cmt__box-item .cmt-head__user span ul li {
  list-style: none;
}
.mer-detail-cmt__box-item .date {
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  color: var(--text-hover);
}
.mer-detail-cmt__box-item .cmt-text,
.mer-detail-cmt__box-item .cmt-text button {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-black);
}
.mer-detail-cmt__box-item .cmt-text button {
  color: var(--purple);
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
/* Branch List */
.mer-branch-box {
  width: 100%;
  position: relative;
  padding-top: 24px;
}
.mer-branch-box__map {
  width: 100%;
  height: 634px;
  border-radius: 24px;
}
.mer-branch-box__map div {
  border-radius: 24px;
}
.mer-branch-box__branch {
  width: 100%;
  height: 100%;
  padding: 24px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mer-branch-box__branch-search {
  width: 50%;
  position: absolute;
  margin-top: -634px;
  border-radius: 22px 0px 0px 22px;
}
.mer-branch-box__branch-search input {
  width: calc(100% - 44px);
  border: none;
  outline: none;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--purple);
  border-radius: 22px 0px 0px 22px;
  box-shadow: inset 0px 2px 6px rgba(113, 97, 186, 0.2);
}
.mer-branch-box__branch-search button {
  padding-left: 6px;
  height: 44px;
  width: 44px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--purple);
  border-radius: 0px 22px 22px 0px;
}
.mer-branch-box__branch-wrapper {
  width: 93%;
  margin-top: -320px;
  position: absolute;
  overflow-x: scroll;
}
.mer-branch-box__branch-list {
  display: flex;
  width: fit-content;
}
.mer-branch-box__branch-item {
  cursor: pointer;
  margin-left: 24px;
  background-color: var(--bg-gray);
  width: 242px;
  /* height: 254px; */
  border-radius: 24px;
  box-shadow: 0px 10px 31px rgba(76, 62, 142, 0.3);
}
.mer-branch-box__branch-img {
  width: 100%;
  height: 160px;
  border-radius: 24px 24px 0px 0px;
}
.branch-item__info {
  padding: 12px;
}
.branch-item__option {
  width: 90px;
}
.branch-item__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% - 70px);
}
.branch-item__left p:first-child {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-black);
}
.branch-item__option span,
.branch-item__left p:nth-child(2) {
  font-size: 9px;
  line-height: 12px;
  font-weight: 700;
  color: var(--text-hover);
}
/* Sale list */
.fPDpuU {
  margin: 0px !important;
}
.mer-sale-list {
  margin-top: 24px;
  border-top: solid 1px var(--purple);
  padding-top: 36px;
  padding-bottom: 20px;
}
.mer-sale-head__sort,
.mer-sale-head__sort button {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--purple);
}
.mer-sale-head__sort button {
  font-weight: 500;
  cursor: pointer;
  border: solid 1px var(--purple);
  outline: none;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 18px;
  margin-left: 16px;
  transition: all 0.3s;
}
.content-left__info {
  margin-top: 24px;
  padding: 0;
}
.content-left__work {
  margin-top: 4px;
}
.mer-detail__rate {
  margin-top: 4px;
  gap: 0 2px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mer-detail {
    padding: 64px 16px 36px 16px;
  }
  .mer-detail__content {
    flex-direction: column-reverse;
    gap: 36px 0;
  }
  .mer-detail__cnt {
    padding: 40px 16px 36px 16px;
  }
  .mer-detail__content-left {
    width: 100%;
    height: unset;
  }
  .mer-detail__content-right {
    width: 100%;
  }
  .mer-detail__content-desc {
    padding: 64px 16px;
  }
  .mer__content-info__util-item {
    align-items: center;
  }
  .mer__content-info__util-list {
    flex-direction: column;
    width: 100%;
    gap: 16px 0;
  }
  .mer__content-info__util-list li {
    width: 100%;
    padding: 0;
  }
  .mer__content-info__util-item span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
  }
  .mer-detail-cmt__head {
    flex-wrap: wrap;
    gap: 4px 0;
  }
  .mer-detail-cmt__head-star {
    gap: 0 4px;
  }
  .mer__content-info__personnel-list {
    flex-direction: column;
  }
  .mer__content-info__personnel-list li {
    width: 100%;
  }
  .list-branch {
    padding: 0 16px;
  }
  .mer-branch-list .section-title {
    padding: 0 16px;
  }
  .mer-branch-box__map div {
    border-radius: 0;
  }
  .detail-sale {
    padding: 36px 16px;
  }
  .mer-branch-box__branch-list {
    margin-left: -24px;
  }
  .mer-detail .mer-branch-box__branch-item {
    height: initial;
  }
  .mer-branch-box__branch-wrapper {
    margin-top: -320px;
  }
  .mer-sale-head {
    flex-wrap: wrap;
    gap: 24px;
  }
  .content-left__info-detail img {
    margin-top: 0 !important;
  }
  .content-left__info {
    margin-top: 24px;
    padding: 0;
  }
  .content-left__work {
    margin-top: 4px;
  }
  .mer-detail__rate {
    margin-top: 4px;
    gap: 0 2px;
  }
}

/* res-mobile */
/* Mobile */
@media only screen and (max-width: 767px) {
  .mer-detail {
    padding: 12px 24px;
  }
  .mer-detail__content {
    flex-direction: column-reverse;
  }
  .mer-detail__content-right {
    width: 100%;
    height: 216px;
    border-radius: 0px;
  }
  .mer-detail__content-left {
    width: 100%;
    margin-top: 16px;
    padding: 8px;
    height: fit-content;
  }
  .content-left__header img:nth-child(1) {
    width: 52px;
    height: 52px;
  }
  .content-left__header-name {
    width: calc(100% - 52px);
  }
  .content-left__header {
    padding-bottom: 16px;
  }
  .content-left__header-name span {
    font-size: 18px;
    line-height: 24px;
  }
  .mer-detail__rate span {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
  }
  .content-left__info-detail span,
  .content-left__info-detail span h5 {
    font-weight: 700;
  }
  .content-left__follow {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .mb-cnt {
    background-color: var(--bg-color);
  }
  .mer-detail {
    padding: 12px 24px;
    background-color: var(--bgWhite);
  }
  .mer-detail__content {
    flex-direction: column-reverse;
  }
  .mer-detail__content-right {
    width: 100%;
    height: 216px;
    border-radius: 0px;
  }
  .mer-detail__content-left {
    width: 100%;
    margin-top: 16px;
    padding: 0px;
    height: fit-content;
  }
  .content-left__header img:nth-child(1) {
    width: 52px;
    height: 52px;
  }
  .content-left__header-name {
    width: calc(100% - 52px);
  }
  .content-left__header {
    padding-bottom: 16px;
  }
  .content-left__header-name span {
    font-size: 18px;
    line-height: 24px;
  }
  .mer-detail__rate span {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
  }
  .content-left__info-detail span,
  .content-left__info-detail span h5 {
    font-weight: 700;
  }
  .mer-detail__cnt {
    display: none;
  }
  .content-left__follow {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
  .content-left__follow button {
    padding: 4px 16px;
  }
  .mer-detail__content-desc {
    flex-direction: column;
    padding: 12px 24px;
  }
  .mer-detail__content-info {
    width: 100%;
    padding: 0px;
  }
  .mer__content-info__introduction .section-title {
    font-size: 18px;
    line-height: 24px;
  }
  .mer__content-info__introduction .text {
    margin: 4px 0px 8px 0px;
  }
  .mer__content-info__util {
    margin-top: 0px;
  }
  .mer__content-info__util .mer__content-info__util-wrap {
    display: none;
  }
  .mer__content-info__personnel .mer__content-info__personnel-box {
    display: none;
  }
  .mer__content-info__personnel {
    margin-top: 0px;
  }
  .mer__content-info__personnel-list {
    flex-direction: column;
  }
  .mer__content-info__personnel-list li {
    width: 100%;
    margin: 8px 0px;
  }
  .mer__content-info__util-list {
    flex-wrap: wrap;
  }
  .mer__content-info__util-list li {
    width: 50%;
    padding: 8px;
  }
  .mer__content-info__util-item {
    box-shadow: 0px 4px 20px rgb(113 97 186 / 20%);
  }
  .mer-detail__content-desc .mer-detail__content-cmt {
    display: none;
  }
  .mer-detail__content-cmt {
    width: 100%;
    padding: 0px;
    height: 100%;
    box-shadow: none;
    overflow-y: scroll;
    border-radius: 0px;
  }
  .mer-detail-cmt__box-item .cmt-text,
  .mer-detail-cmt__box-item .cmt-text button {
    font-size: 12px;
    line-height: 18px;
  }
  .detail-sale {
    display: none;
  }
  /* brach list */
  .mer-branch-list {
    display: none;
  }
  /* sale list */
  .mer-sale-list {
    display: none;
  }
}
