/* grid_loading */
.grid_loading{
      list-style: none;
      width: 33.3%;
      height: 320px;
      padding: 18px;
      /* background-color: burlywood; */
}
.grid-ld__item{
      width: 100%;
      height: 100%;
      /* background-color: cadetblue; */
      box-shadow: 0px 4px 20px rgb(113 97 186 / 20%);
      border-radius: 24px;
}
.grid-ld__item-img{
      width: 100%;
      height: 180px;
}
.grid-ld__item-name{
      margin: 16px;
      margin-bottom: 8px;
      height: 48px;
}
.grid-ld__item-price{
      height: 24px;
      margin: 0px 16px 16px 16px;
}
/* search-loading */
.se-item{
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 156px;
      background-color: var(--grey);
      padding: 8px;
}
.se-item__img{
      width: 214px;
      height: 100%;
      border-radius: 24px;
}
.se-item__cnt{
      height: 100%;
      width: calc(100% - 214px);
      padding-left: 16px;
}
.se-item__cnt-name{
      width: 100%;
      height: 48px;
}
.se-item__cnt-address{
      width: 100%;
      height: 40px;
      margin-top: 4px;
}
.se-item__cnt-service{
      display: flex;
      justify-content: space-around;
}
.se-item__cnt-service-item{
      margin-top: 10px;
      width: 23.5%;
      height: 32px;
}
/* OrgCardLoading */
.org-de-loading{
      width: 100%;
      height: 100%;
}
.org-de-loading__head-img{
      width: 96px;
      height: 96px;
      border-radius: 100%;
}
.org-de-loading__head-name{
      padding-left: 16px;
      width: calc(100% - 96px);
}
.org-de-loading__head-name .name{
      width: 100%;
      height: 36px;
}
.org-de-loading__head-name .rate{
      width: 50%;
      height: 20px;
      margin-top: 4px;
}
.org-de-loading__address{
      margin-top: 50px;
      width: 100%;
      height: 40px;
}
.org-de-loading__ser{
      margin-top: 34px;
      width: 100%;
      height: 80px;
}
/* PrCardLoading */
.pr-de-loading{
      width: 100%;
      height: 590px;
}
.pr-de-loading__name{
      width: 100%;
      height: 72px;
}
.pr-de-loading__spa{
      margin-top: 4px;
      width: 50%;
      height: 20px;
}




/* res-mobile */
/* Mobile */
@media only screen and (max-width: 767px){
      .se-item{
            flex-direction: column;
            height: max-content;
      }
      .se-item__img{
            width: 100%;
            height: 180px;
      }
      .se-item__cnt{
            padding-left: 0px;
            width: 100%;
      }
}