.order-de {
  width: 100%;
  padding-left: 36px;
}
.order-de__head {
  padding-bottom: 12px;
  border-bottom: solid 1px var(--purple);
}
.order-de__head-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--purple);
}
.order-de__head-date .date,
.order-de__head-date .time {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-hover);
}
.order-de__head-date .date h4,
.order-de__head-date .time h4 {
  color: var(--purple);
  margin: 0px 8px 0px 4px;
}
.order-de__org {
  margin-top: 12px;
  padding: 12px;
  border-radius: 24px;
  width: 100%;
  box-shadow: 0px 6px 15px #dcd8ee;
}
.order-de__org-img {
  width: 96px;
  height: 96px;
  border-radius: 100%;
  object-fit: cover;
}
.order-de__org-cnt {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
}
.order-de__org-cnt .name {
  font-size: 18px;
  font-weight: 700;
  color: var(--purple);
}
.order-de__org-cnt .address {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-black);
  margin: 4px 0px;
}
.order-de__count {
  padding: 12px 0px;
  border-bottom: solid 1px var(--bgGray);
}
.order-de-tab {
  margin: 8px 0px;
}
.order-de-tab__btn {
  margin-top: 8px;
}
.order-de-tab__btn button {
  margin-right: 12px;
  border: solid 1px var(--purple);
  outline: none;
  background-color: var(--bgWhite);
  padding: 6px 8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: var(--purple);
  border-radius: 14px;
  transition: all 0.3s;
}
.order-item-list li {
  margin: 12px 0px;
}
.order-de-list__item {
  display: flex;
  flex-direction: row;
  padding: 12px;
  border-radius: 24px;
  box-shadow: 0px 6px 15px #dcd8ee;
}
.order-de-pr-item__img {
  width: 234px;
  height: 156px;
  filter: drop-shadow(0px 6px 15px #dcd8ee);
  border-radius: 24px;
  object-fit: cover;
}
.order-de-pr-item__cnt {
  padding-left: 24px;
  width: calc(100% - 234px);
  height: 156px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-de-pr-item__cnt .item-detail {
  display: flex;
  flex-direction: column;
}
.order-de-pr-item__cnt .item-detail .item-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-black);
}
.order-de-pr-item__cnt .item-detail .item-org__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--purple);
  margin-top: 4px;
}
.order-de-pr-item__cnt .item-bottom .price {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--purple);
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .order-de-list__item {
    flex-direction: column;
    padding: 0;
  }
  .order-de-pr-item__cnt .item-detail .item-name {
    flex-wrap: wrap;
  }
  .order-item-list {
    gap: 24px 0;
    display: flex;
    flex-direction: column;
  }
  .order-item-list li:nth-child(1) {
    margin-top: 12px;
  }
  .order-item-list li {
    margin: 0;
  }
  .order-de__org-img {
    flex-shrink: 0;
  }
  .order-de-pr-item__img {
    width: 100%;
    border-radius: 24px 24px 0 0;
  }
  .order-de-pr-item__cnt {
    width: 100%;
    height: unset;
    padding: 24px;
  }
  .item-bottom {
    flex-direction: column;
    margin-top: 8px;
    gap: 8px 0;
  }
  .order-de .flex-row-sp {
    align-items: flex-start;
  }
}
