.card {
  height: 310px;
  background-color: var(--bg-gray);
  border-radius: 24px;
  box-shadow: 0px 4px 20px rgba(113, 97, 186, 0.2);
  position: relative;
  cursor: pointer;
  margin-bottom: 25px;
}
.card-info {
  padding: 16px;
}
.card-discount {
  right: 0px;
  margin-right: 22px;
  border-radius: 4px;
  height: 44px;
  width: 44px;
  position: absolute;
  background-color: var(--red-cl);
  font-size: 11px;
  line-height: 12px;
  color: var(--bg-gray);
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
}
.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 24px 24px 0px 0px;
}
.card-info {
  padding: 16px;
}
.card-name {
  height: 48px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-black);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
  margin-bottom: 8px;
}
.card-spa-name {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--purple);
}
.card-price__detail h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-hover);
  text-decoration: line-through;
}
.card-price {
  margin-top: 8px;
}
.card-price__detail h3 {
  margin-left: 4px;
  color: var(--red-cl);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.card-price__star {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-black);
}
.card-date {
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  color: var(--red-cl);
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .card-img {
    height: 160px;
  }
  .card-name {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card {
    height: unset;
  }
}

/* res-mobile */
/* Mobile */
@media only screen and (max-width: 767px) {
  .card {
    height: 260px;
    border-radius: 12px;
  }
  .card-img {
    border-radius: 12px 12px 0px 0px;
    height: 152px;
  }
  .card-info {
    padding: 8px;
  }
  .card-name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    height: 40px;
  }

  .card-price span:nth-child(1) {
    flex-direction: column;
    align-items: flex-start;
  }
  .card-price__detail h4 {
    font-size: 14px !important;
    line-height: 16px !important;
  }
  .card-price__detail h3 {
    margin-left: 0px;
    font-size: 14px;
    line-height: 16px;
  }
}
