.mb-filter{
      height: 100vh;
      background-color: var(--bgWhite);
}
.mb-filter .home-banner__filter{
      margin-top: 60px;
      padding: 0px 24px;
}
.mb-se-ip__cnt{
      padding: 12px 20px 20px 50px;
}