.app-de {
  width: 767px;
  height: max-content;
  height: 80vh;
  background-color: var(--bg-color);
  padding: 24px;
  margin: 0 auto;
  border-radius: 24px;
  overflow-y: scroll;
}
.app-de__head {
  padding-bottom: 12px;
  border-bottom: solid 1px var(--purple);
}
.app-de__head-status {
  font-size: 18px;
  font-weight: 700;
  color: var(--purple);
}
.app-de__head-status-it {
  margin-left: 4px;
}
.app-de__head-status-it span {
  width: 8px;
  height: 8px;
  background-color: brown;
  border-radius: 100%;
  margin-right: 4px;
}
.app-de__head-date,
.app-de__head-time {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-black);
}
.app-de__head-date h4,
.app-de__head-time h4 {
  color: var(--purple);
  margin-left: 3px;
}
.app-de__head-time {
  margin-left: 6px;
}
.app-de__ser {
  padding: 12px 0px;
}
.app-de__ser-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.app-de__ser-item {
  width: 25%;
  padding: 8px;
  cursor: pointer;
}
.app-de__ser-item .item {
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.12);
}
.app-de__ser-item .item .item-img {
  width: 100%;
  height: 164px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}
.app-de__ser-item .item .item-content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app-de__ser-item .item .item-content .item-content__name {
  height: 36px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--text-black);
}
.app-de__ser-item .item .item-content .item-count__price {
  margin-top: 4px;
}
.app-de__ser-item .item .item-content .item-count__price span:nth-child(1) {
  font-size: 16px;
  line-height: 18px;
  color: var(--purple);
  font-weight: 700;
}
.app-de__ser-item .item .item-content .item-count__price span:nth-child(2) {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-black);
}
.app-de__ser-head {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--purple);
}
.app-de__address-txt {
  margin-top: 6px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--text-black);
}
.app-de-header {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .app-de {
    max-width: 600px;
    height: 50vh;
  }
  .app-de__ser-item .item .item-img {
    height: 100px;
  }
}

/* res-mobile */
/* Mobile */
@media only screen and (max-width: 767px) {
  .app-de-header {
    display: block;
    padding: 12px 24px;
    background-color: var(--purple);
  }
  .app-de-header span {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--bgWhite);
  }
  .app-de {
    padding: 0px;
    width: 100%;
    height: max-content;
    min-height: 100%;
    border-radius: 0;
  }
  .app-de__head {
    padding: 12px 24px;
    background-color: var(--bgWhite);
  }
  .app-de__head-status {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
  }
  .app-de__head-date,
  .app-de__head-time {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
  }
  .app-de__ser {
    padding: 12px 24px;
    background-color: var(--bgWhite);
    margin: 16px 0px;
  }
  .app-de__ser-list {
    flex-direction: column;
  }
  .app-de__ser-item {
    width: 100%;
    padding: 8px 0px;
  }
  .app-de__ser-item .item {
    padding: 4px;
    display: flex;
    border-radius: 8px;
  }
  .app-de__ser-item .item .item-img {
    width: 72px;
    height: 72px;
    border-radius: 8px;
  }
  .app-de__ser-item .item .item-content {
    padding: 0px;
    padding-left: 4px;
    width: calc(100% - 72px);
  }
  .app-de__ser-item .item .item-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
  }
  .app-de__ser-item .item .item-content .item-content__name {
    font-size: 12px;
    line-height: 16px;
    width: 150px;
    height: fit-content;
  }
  .app-de__ser-item .item .item-content .item-count__price {
    margin-top: 0px;
    height: fit-content;
  }
  .app-de__ser-item .item .item-content .item-count__price span:nth-child(1),
  .app-de__ser-item .item .item-content .item-count__price span:nth-child(2) {
    font-size: 12px;
    line-height: 16px;
  }
  .app-de__address {
    padding: 16px 24px;
    background-color: var(--bgWhite);
  }
  .app-de__ser-head {
    font-size: 12px;
    line-height: 16px;
  }
  .app-de__address-txt {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }
}
