.home-slider {
  margin-bottom: 100px;
  margin-top: -64px;
}

.home-slider .slick-track {
  padding: 60px 0;
}
.home-slider .slick-slide {
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.home-slider .slick-slide:not(.slick-current) {
  filter: brightness(0.5);
}
.home-slider .slick-slide.slick-current {
  transform: scale(1.35);
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}
.home-slider .home-slider__img {
  height: 348px;
  border-radius: 24px;
  overflow: hidden;
  padding: 16px;
}
.home-slider .home-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}
/* cus dot slider*/
.slick-dots ul {
  align-items: center;
  display: flex;
  justify-content: center;
}
.slick-dots ul li {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  border: 1px solid var(--purple);
}
.slick-dots ul .slick-active {
  background-color: var(--purple);
  width: 32px;
  height: 12px;
  border-radius: 6px;
}
.slick-dots li.slick-active button:before {
  display: none;
}
.slick-dots li button:before {
  display: none;
}
.slick-slide {
  padding: 0 16px;
  margin-top: 48px;
  margin-bottom: 28px;
}
.mer-sale-list .slick-slide {
  margin-bottom: 0;
}
.slick-dots {
  bottom: -26px;
}

@media (max-width: 768px), (max-width: 1024px) {
  .home-slider .slick-slide.slick-current {
    transform: scale(1.5);
  }
  .home-slider {
    margin: -36px 0 64px 0;
    padding: 8px;
  }
  .home-slider .home-slider__img {
    width: 600px;
    height: 180px;
  }
  .home-slider .slick-track {
    margin: 0;
    padding: 24px 0 30px 0;
  }
  .home-slider .slick-dots {
    bottom: -32px;
  }
  .homelogged-foryou .slick-slide,
  .homelogged-location .slick-slide {
    padding: 0 8px;
  }
}
@media screen and (max-width: 767.98px) {
  .homelogged-location .slick-slide {
    margin-bottom: 50px;
    padding: 0;
  }
  .homelogged-location .slick-dots {
    bottom: 18px;
  }
  .homelogged-foryou .slick-slide {
    padding: 0 24px 16px 24px;
  }
  .home-slider {
    margin: -20px 0 63px 0;
    padding: 0 24px;
  }
  .home-slider .home-slider__img {
    width: 100%;
    height: 270px;
    overflow: hidden;
    background: unset;
    box-shadow: unset;
    backdrop-filter: unset;
    padding: unset;
    border: 12px solid #f8f8f9;
  }
  .home-slider .slick-track {
    padding: 0;
    margin-bottom: 10px;
  }
  .home-slider .slick-slide.slick-current {
    transform: unset;
  }
  .home-slider .slick-slide {
    transition: unset;
  }
  .home-slider .slick-slide:not(.slick-current) {
    filter: unset;
  }
  .home-slider .home-slider__img img {
    border-radius: unset;
  }
}
