/* title */
img {
  user-select: none;
}
.title-home {
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  color: var(--purple);
  white-space: pre-line;
}
/* home */
.home {
  background-color: var(--bg-gray);
  overflow: hidden;
}
.color-purple {
  color: var(--purple);
}
.home-banner {
  padding-top: 63px;
  background-image: url("../../assets/image/Banner.png");
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.home-banner__slogan {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  color: var(--purple);
  white-space: pre-line;
}
.home-banner__slogan p {
  text-align: center;
}
.home-banner__filter {
  /* width: 600px; */
  height: max-content;
  background-color: var(--bg-gray);
  /* position: absolute; */
  bottom: -70px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  /* box-shadow: 0px 6px 37px rgba(113, 97, 186, 0.1); */
}
/* home filter */
.home-banner__filter {
  display: flex;
  flex-direction: column;
}
.home__filter-search-box {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.input-search {
  width: calc(100% - 56px);
}
.input-search {
  background-color: var(--bg-color);
  border: none;
  outline: none;
  border-radius: 20px 0px 0px 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--purple);
  padding: 0px 16px;
}
/* filter form */
.filter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-form__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 0px;
}
.filter-form__li {
  position: relative;
  list-style: none;
  width: calc(100% / 3);
  padding: 0px 8px;
  cursor: pointer;
}
.filter-form__item {
  border-radius: 20px;
  height: 40px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}
.filter-form__item-left {
  display: flex;
  align-items: center;
}
.filter-form__item-left span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding-left: 8px;
  color: var(--purple);
}
.drop-all__enterprise {
  border-radius: 14px;
  margin-top: 10px;
  width: calc(100% - 16px);
  position: absolute;
  background-color: var(--bg-color);
  padding: 10px 16px;
  box-shadow: 0px 10px 31px rgb(76 62 142 / 30%);
}
.drop-all__enterprise ul li {
  list-style: none;
  padding: 8px 4px;
  border: solid 1px var(--purple);
  margin: 4px 0px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 18px;
  color: var(--purple);
}
/* home map */
.home-map {
  margin-top: 170px;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-map img {
  margin: 24px 0px;
}
/* home minimap */
.home-mini-map {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-mini-map__content {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-mini-map__card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.mini-map__content-item {
  padding: 0px 22px;
  display: flex;
  flex-direction: column;
}
.mini-map__content-item img {
  width: 44px;
  height: 44px;
  margin-bottom: 18px;
}
.mini-map__content-item span {
  font-family: 500;
  font-size: 14px;
  line-height: 20px;
}
/* home step */
.home-order {
  margin-top: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-step__line {
  position: absolute;
  width: 70%;
  margin-top: 129px;
  z-index: 1;
  border-bottom: dashed 1px var(--purple);
}
.home-order__step {
  z-index: 2;
  margin-top: 36px;
  display: flex;
  flex-direction: row;
}
.home-order__card {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-order__card-step {
  background-color: var(--purple);
  color: var(--bg-gray);
  font-size: 20px;
  line-height: 24px;
  padding: 8px 16px;
  border-radius: 20px;
}
.home-order__card-title {
  margin-top: 24px;
  font-size: 14px;
  line-height: 20px;
  color: var(--purple);
}
.home-order__card img {
  width: 100%;
}
/* home calendar */
.home-calendar {
  margin-top: 110px;
}
.home-calendar-content {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.calendar-img {
  width: 50%;
}
.home-calendar-content ul li {
  list-style: none;
  padding: 12px 50px 12px 0px;
}
.calendar-item__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}
.calendar-item__header img {
  width: 44px;
  height: 44px;
}
.calendar-item__header span {
  font-size: 20px;
  line-height: 24px;
  font-family: 700;
  padding-left: 16px;
  color: var(--purple);
}
.calendar-item__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--text-black);
}
/* home-flatform */
.home-flatform {
  margin-top: 120px;
}
.home-flatform__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flatform-card {
  width: calc(100% / 3);
}
.flatform-card img {
  width: 100%;
}
.flatform-card div {
  margin-top: -28px;
  width: 100%;
  text-align: center;
  padding: 0px 38px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
/* home sign */
.home-sign {
  margin-top: 124px;
}
.home-sign-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* ==================== HOME LOGGED ======================= */
/* homelogged calendar */
.homelogged-calendar {
  width: 100%;
  padding-top: 170px;
}
.homelogged-calendar__content {
  background-color: var(--purple);
  padding: 64px 0;
}
.homelogged-calendar__wrap {
  display: flex;
  width: 100%;
  gap: 0 36px;
  padding-top: 36px;
}
.homelogged-calendar .section-title {
  color: var(--bg-gray);
  padding-bottom: 24px;
  border-bottom: 1px solid var(--bg-gray);
}
.homelogged-calendar__left {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}
.homelogged-calendar__right {
  width: 70%;
  background-color: var(--bg-gray);
  border-radius: 30px;
}
/* calendar left */
.week-active {
  background: #f5f5f7;
  box-shadow: 0px 6px 15px #dcd8ee;
  border-radius: 8px;
}
.calendar-choosedate {
  width: 100%;
  background-color: var(--bg-gray);
  border-radius: 30px;
  padding: 36px;
}
.calendar-mounth {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  user-select: none;
}
.calendar-mounth__time {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-black);
}
.calendar-mounth__prev {
  position: absolute;
  left: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.calendar-mounth__next {
  position: absolute;
  right: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.week-container,
.day-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 0;
}
.week-container {
  padding-top: 32px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--purple);
}
.week-cell,
.day-cell {
  flex: 0 0 calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: var(--text-black);
}
.week-cell {
  color: #7161ba;
  font-weight: 500;
  user-select: none;
}
.day-cell {
  color: #3b3a40;
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
  user-select: none;
}
.day-cell--faded {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #a2a1ab;
  pointer-events: none;
  user-select: none;
}
.day-cell--today {
  border-radius: 8px;
  border: 1px solid var(--purple);
  color: var(--purple);
}
.border-none {
  border: none;
}
/* homelogged calender right */
.week-container__right {
  box-shadow: 0px 6px 15px #dcd8ee;
  border-radius: 8px;
  padding: 12px 0;
}
.week-container__right .week-cell {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: var(--text-black);
}
.homelogged-calendar__right .day-cell--faded {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.week-day__right {
  font-size: 20px;
  line-height: 24px;
}
.calendar-appointment {
  display: grid;
  gap: 0 24px;
  grid-template-columns: repeat(7, 1fr);
}
.calendar-appointment__list {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  padding-top: 24px;
}
.appointment-status {
  width: 2px;
  height: auto;
  margin-right: 4px;
  flex-shrink: 0;
}
.calendar-appointment__item-row {
  display: flex;
}
.calendar-appointment__item-column {
  display: flex;
  flex-direction: column;
}
.calendar-appointment__item p:nth-child(1) {
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  color: var(--purple);
  margin-bottom: 4px;
}
.calendar-appointment__item p:nth-child(2) {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
  margin-bottom: 24px;
}
.calendar-appointment__item p:nth-child(3) {
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  color: #84828c;
}
/* status dot in calendar */
.status-dots {
  display: flex;
  gap: 0 2px;
  justify-content: center;
}
.status-dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  display: none;
}
.status-dot-green {
  background-color: #7fc128;
}
.status-dot-pink {
  background-color: #f893c8;
}
.status-dot-blue {
  background-color: #0faff6;
}
.status-dot-red {
  background-color: #ee6955;
}
/* status */
.calendar-status {
  width: 100%;
  background-color: var(--bg-gray);
  border-radius: 30px;
  padding: 36px;
}
.calendar-status__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--purple);
  padding-bottom: 24px;
}
.calendar-status__list {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  padding-top: 24px;
}
.calendar-status__item {
  display: flex;
  gap: 0 8px;
  align-items: center;
}
.calendar-status .calendar-status__list .calendar-status__item span {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
}
.dot-active .status-dot {
  display: flex;
}
/* homelogged location */
.homelogged-location {
  width: 100%;
  padding: 64px 0;
}
.homelogged-location .section-title {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--purple);
}
.homelogged-location__list {
  padding-top: 36px;
  display: flex;
  gap: 0 36px;
}
/* .homelogged-location__item {
} */
.item-top {
  cursor: pointer;
}
.item-top__img {
  width: 376px;
  height: 248px;
  border-radius: 24px;
  overflow: hidden;
}
.item-top__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-top__content {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}
.item-top__content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-top__content-header span {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-black);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.item-top__content-rate {
  display: flex;
  gap: 0 11.63px;
  flex-shrink: 0;
}
.rate-left,
.rate-right {
  display: flex;
  gap: 0 3.64px;
}
.item-top__content-rate .rate-left span,
.item-top__content-rate .rate-right span {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
}

.item-top__content-footer {
  display: flex;
  gap: 0 6px;
}
.item-top__content-footer span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--purple);
}
.item-bottom__active {
  padding: 24px;
  box-shadow: 0px 6px 15px #dcd8ee;
  border-radius: 24px;
  margin-top: 8px;
  position: relative;
}
.close-ring {
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
  user-select: none;
}
.item-bottom__active-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-bottom: 8px;
}
.item-bottom__active-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
.item-bottom__active-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--purple);
}
.item-bottom__active-list {
  display: flex;
  gap: 0 24px;
  justify-content: space-between;
  padding-top: 16px;
}
.item-bottom__active-item {
  display: flex;
  gap: 0 6.5px;
  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 4px 8px;
  justify-content: space-between;
}
.item-bottom__active-list .item-bottom__active-item .item-content {
  display: flex;
  flex-direction: column;
}
.item-bottom__active-list
  .item-bottom__active-item
  .item-content
  span:nth-child(1) {
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  color: #a2a1ab;
}
.item-bottom__active-list
  .item-bottom__active-item
  .item-content
  span:nth-child(2) {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
}
.item-bottom__hidden {
  padding: 8px 16px;
  background-color: var(--bg-color);
  border-radius: 8px;
  margin-top: 8px;
  position: relative;
}
.item-bottom__hidden-wrap {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.item-bottom__hidden-wrap .item-bottom__active-img {
  display: flex;
  align-items: center;
  margin-bottom: unset;
}
.infor-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  cursor: pointer;
  user-select: none;
}

/* home logged product */
.homelogged-product__sort {
  padding: 24px 0;
  border-bottom: 1px solid var(--purple);
}
/* home product selector */
.product-select__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
  width: 284px;
}
.product-select__input {
  padding: 8px 8px 8px 16px;
  background: #f5f5f7;
  border: 1px solid #eeedf2;
  -webkit-box-shadow: inset 0px 2px 6px rgba(113, 97, 186, 0.2);
  box-shadow: inset 0px 2px 6px rgba(113, 97, 186, 0.2);
  border-radius: 18px 0px 0px 18px;
  overflow: hidden;
  width: 100%;
}
.product-select__btn {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 0 18px 18px 0;
  width: 39.96px;
  background-color: var(--purple);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.drop-all__enterprise {
  border-radius: 14px;
  top: 40px;
  width: 100%;
  position: absolute;
  background-color: var(--bg-color);
  padding: 10px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 1;
}

.drop-all__enterprise ul li {
  list-style: none;
  padding: 8px 4px;
  border: solid 1px var(--purple);
  margin: 6px 0px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 18px;
  color: var(--purple);
}
/* end selector */
.homelogged-product__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homelogged-product__sort-left {
  display: flex;
  gap: 0 16px;
  align-items: center;
}
.homelogged-product__sort-left span {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--purple);
}
.sort-item {
  padding: 8px 16px;
  border-radius: 24px;
  cursor: pointer;
}
.homelogged-product__sort-left span:nth-child(2) {
  background-color: var(--purple);
  color: var(--bg-gray);
  border: 1px solid var(--purple);
}
.homelogged-product__sort-left span:nth-child(3) {
  color: var(--purple);
  border: 1px solid var(--purple);
}
.homelogged-product__list {
  padding: 36px 0 64px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px 38px;
}
.homelogged-product__item {
  box-shadow: 0px 4px 20px rgba(113, 97, 186, 0.2);
  border-radius: 24px;
  background-color: var(--bg-gray);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.item-img {
  width: 100%;
  height: 180px;
}
.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homelogged-product__item .item-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.homelogged-product__item .item-content .item-content__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-black);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.item-content__info {
  margin-top: auto;
  flex-shrink: 0;
}

.item-content__info-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--purple);
  padding-top: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.price-rate__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  align-items: center;
}
.price-rate__wrap .rate {
  display: flex;
  gap: 0 2px;
}
.price-rate__wrap .price {
  display: flex;
  gap: 0 2px;
  align-items: center;
  gap: 0 4px;
}
.price-rate__wrap .price span:nth-child(1) {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #a2a1ab;
  text-decoration-line: line-through;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.price-rate__wrap .price span:nth-child(2) {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ee6955;
  margin-right: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.price-rate__wrap .rate {
  display: flex;
  align-items: center;
}
.price-rate__wrap .rate span {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.price-text-purple {
  color: #7161ba;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.dead-line {
  display: flex;
  padding-top: 8px;
  gap: 0 4px;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  color: #ee6955;
}

/* homelogged calendar right */
.homelogged-calendar__right {
  padding: 36px;
}
