/* title */
img {
  user-select: none;
}
.text-capitalize {
  text-transform: capitalize;
}
.title-home {
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  color: var(--purple);
  white-space: pre-line;
}
/* home */
.home {
  background-color: var(--bg-gray);
  overflow: hidden;
}
.color-purple {
  color: var(--purple);
}
.status-dots {
  gap: 0 2px;
  justify-content: center;
  display: flex;
}
.home-banner {
  margin-top: 64px;
  padding-top: 63px;
  background-image: url("../../assets/image/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 24px;
}
.home-banner__slogan {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  color: var(--purple);
  white-space: pre-line;
}
.home-banner__slogan p {
  text-align: center;
}
/* home filter */
.home-banner__filter {
  height: max-content;
  background-color: var(--bg-gray);
  bottom: -70px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
}

.home__filter-search-box {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.input-search {
  width: calc(100% - 56px);
}
.input-search {
  background-color: var(--bg-color);
  border: none;
  outline: none;
  border-radius: 20px 0px 0px 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--purple);
  padding: 0px 16px;
}
/* filter form */
.filter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-form__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 0px;
  gap: 0 16px;
}
.filter-form__li {
  position: relative;
  list-style: none;
  width: calc(100% / 3);
  cursor: pointer;
}
.filter-form__item {
  border-radius: 20px;
  height: 40px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}
.filter-form__item-left {
  display: flex;
  align-items: center;
}
.filter-form__item-left span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding-left: 8px;
  color: var(--purple);
}
.drop-category {
  margin: 10px 0 0 0;
  padding: 8px;
  position: absolute;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgb(113 97 186 / 20%);
  z-index: 2;
  background-color: var(--bg-color);
  max-height: 138px;
  overflow-y: auto;
}
.drop-category ul li {
  margin: 2px 0px;
  padding: 2px 8px;
  border-radius: 4px;
}
.drop-all__enterprise {
  border-radius: 14px;
  margin-top: 10px;
  width: calc(100% - 16px);
  position: absolute;
  background-color: var(--bg-color);
  padding: 10px 16px;
  box-shadow: 0px 10px 31px rgb(76 62 142 / 30%);
}
.drop-all__enterprise ul li {
  list-style: none;
  padding: 8px 4px;
  border: solid 1px var(--purple);
  margin: 4px 0px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 18px;
  color: var(--purple);
}
/* home map */
.home-map {
  margin-top: 170px;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-map img {
  margin: 24px 0px;
}
/* home minimap */
.home-mini-map {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-mini-map__content {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-mini-map__card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.mini-map__content-item {
  padding: 0px 22px;
  display: flex;
  flex-direction: column;
}
.mini-map__content-item img {
  width: 44px;
  height: 44px;
  margin-bottom: 18px;
}
.mini-map__content-item span {
  font-family: 500;
  font-size: 14px;
  line-height: 20px;
}
/* home step */
.home-order {
  margin-top: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-step__line {
  position: absolute;
  width: 70%;
  margin-top: 129px;
  z-index: 1;
  border-bottom: dashed 1px var(--purple);
}
.home-order__step {
  z-index: 2;
  margin-top: 36px;
  display: flex;
  flex-direction: row;
}
.home-order__card {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-order__card-step {
  background-color: var(--purple);
  color: var(--bg-gray);
  font-size: 20px;
  line-height: 24px;
  padding: 8px 16px;
  border-radius: 20px;
}
.home-order__card-title {
  margin-top: 24px;
  font-size: 14px;
  line-height: 20px;
  color: var(--purple);
}
.home-order__card img {
  width: 100%;
}
/* home calendar */
.home-calendar {
  margin-top: 110px;
}
.home-calendar-content {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.calendar-img {
  width: 50%;
}
.home-calendar-content ul li {
  list-style: none;
  padding: 12px 50px 12px 0px;
}
.calendar-item__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}
.calendar-item__header img {
  width: 44px;
  height: 44px;
}
.calendar-item__header span {
  font-size: 20px;
  line-height: 24px;
  font-family: 700;
  padding-left: 16px;
  color: var(--purple);
}
.calendar-item__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--text-black);
}
/* home-flatform */
.home-flatform {
  margin-top: 120px;
}
.home-flatform__list {
  display: grid;
  gap: 0 68.5px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 48px;
}
.home-flatform__item {
  width: 100%;
}
.home-flatform .item-img {
  height: 270px;
  width: 100%;
  border: 12px solid #f8f8f9;
  box-shadow: 0 0 0 2px #e5e5e5;
  box-shadow: 0px 6px 37px rgba(113, 97, 186, 0.1);
  border-radius: 24px;
}
.home-flatform .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.home-flatform .item-text {
  padding-top: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--text-black);
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .home-flatform__list {
    grid-template-columns: 1fr;
  }
  .home-flatform__item {
    width: 400px;
    margin: 0 auto;
  }
  .home-flatform__item:not(:first-child) {
    padding-top: 26px;
  }
}
@media screen and (max-width: 767px) {
  .home-flatform {
    padding: 0 24px;
  }
  .home-flatform__list {
    grid-template-columns: 1fr;
  }
  .home-flatform__item:not(:first-child) {
    padding-top: 46px;
  }
}

/* home sign */
.home-sign {
  margin-top: 124px;
}
.home-sign-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-sign {
  margin-top: 124px;
}
.home-sign-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.week-mb {
  display: none;
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* home mini map */
  .week-mb {
    display: none;
  }
  .home-mini-map__content {
    flex-direction: column;
    padding: 0 30px;
  }
  .mini-map__content-item {
    align-items: center;
    padding: 0px 10px;
  }
  .home-order__step {
    flex-direction: column;
  }
  .home-order__card {
    width: 100%;
  }
  /* home calendar content */
  .home-calendar-content {
    flex-direction: column-reverse;
    padding: 0 30px;
  }
  .home-calendar {
    margin-top: 64px;
  }
  .home-flatform {
    padding: 0 30px;
    margin-top: 64px;
  }
  .home-sign {
    padding: 0 30px;
    margin-top: 64px;
  }
  .home-sign .section-title {
    white-space: normal;
  }
  .home-banner {
    border-radius: unset;
  }
  .home-map {
    padding: 64px 30px 0 30px;
  }
}
/* ==================== HOME LOGGED ======================= */
/* homelogged calendar */
.homelogged-calendar {
  background-color: var(--purple);
  width: 100%;
  margin-top: 170px;
}
.homelogged-calendar__content {
  background-color: var(--purple);
  padding: 64px 0;
}
.homelogged-calendar__wrap {
  display: flex;
  width: 100%;
  gap: 0 36px;
  padding-top: 36px;
}
.homelogged-calendar .section-title {
  color: var(--bg-gray);
  padding-bottom: 24px;
  border-bottom: 1px solid var(--bg-gray);
}
.homelogged-calendar__left {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}
.homelogged-calendar__right {
  width: 70%;
  background-color: var(--bg-gray);
  border-radius: 30px;
}
/* calendar left */
.week-active {
  background: #f5f5f7;
  box-shadow: 0px 6px 15px #dcd8ee;
  border-radius: 8px;
}
.calendar-choosedate {
  width: 100%;
  background-color: var(--bg-gray);
  border-radius: 30px;
  padding: 36px;
}
.calendar-mounth {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  user-select: none;
}
.calendar-mounth__time {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-black);
}
.calendar-mounth__prev {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.calendar-mounth__next {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.week-container,
.day-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 0;
}
.week-container {
  padding-top: 32px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--purple);
}
.week-cell,
.day-cell {
  flex: 0 0 calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-black);
}
.week-cell {
  color: #7161ba;
  font-weight: 500;
  user-select: none;
}
.day-cell {
  color: #3b3a40;
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
  user-select: none;
}
.day-cell--faded {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #a2a1ab;
  pointer-events: none;
  user-select: none;
}
.day-cell--today {
  border-radius: 8px;
  border: 1px solid var(--purple);
  color: var(--purple);
}
.border-none {
  border: none;
}
/* homelogged calender right */
.week-pc {
  width: 100%;
}
.week-container__right {
  box-shadow: 0px 6px 15px #dcd8ee;
  border-radius: 8px;
  padding: 12px 0;
}
.week-container__right .week-cell {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: var(--text-black);
}
.homelogged-calendar__right .day-cell--faded {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.week-day__right {
  font-size: 20px;
  line-height: 24px;
}
.calendar-appointment {
  display: grid;
  gap: 0 24px;
  grid-template-columns: repeat(7, 1fr);
}
.calendar-appointment__list {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  padding-top: 24px;
}
.appointment-status {
  width: 2px;
  height: auto;
  margin-right: 4px;
  flex-shrink: 0;
}
.calendar-appointment__item {
  position: relative;
}
/* .ca-app-detail{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: crimson;
  left: -100%;
} */
.calendar-appointment__item-row {
  display: flex;
}
.calendar-appointment__item-column {
  display: flex;
  flex-direction: column;
}
.calendar-appointment__item-time {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  gap: 2px;
}
.calendar-appointment__item-time p {
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  color: var(--purple);
}
.calendar-appointment__item-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
  margin-bottom: 24px;
}
.calendar-appointment__item-address {
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  color: #84828c;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.calendar-appointment__item-detail {
  width: fit-content;
  padding: 4px 8px;
  background: #eeedf2;
  border-radius: 8px;
  outline: none;
  border: none;
  margin-top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--purple);
}
/* status dot in calendar */
.status-dots {
  display: flex;
  gap: 0 2px;
  justify-content: center;
}
.status-dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  display: none;
}
.status-dot-green {
  background-color: #7fc128;
}
.status-dot-pink {
  background-color: #f893c8;
}
.status-dot-blue {
  background-color: #0faff6;
}
.status-dot-red {
  background-color: #ee6955;
}

/* status */
.calendar-status {
  width: 100%;
  background-color: var(--bg-gray);
  border-radius: 30px;
  padding: 36px;
}
.calendar-status__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--purple);
  padding-bottom: 24px;
}
.calendar-status__list {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  padding-top: 24px;
}
.calendar-status__item {
  display: flex;
  gap: 0 8px;
  align-items: center;
}
.calendar-status .calendar-status__list .calendar-status__item span {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
}
.dot-active .status-dot {
  display: flex;
}
/* homelogged location */
.homelogged-location {
  width: 100%;
  padding-top: 64px;
}

.homelogged-location .section-title {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--purple);
}
.homelogged-location__list {
  overflow-x: scroll;
  padding-top: 36px;
  display: flex;
  gap: 0 36px;
  margin-left: -20px;
  margin-bottom: -20px;
}
.homelogged-location__item {
  width: 100%;
}
.homelogged-location__item:first-child {
  width: 100%;
  margin-left: 20px;
  margin-bottom: 20px;
}
.item-top {
  cursor: pointer;
}
.item-top__img {
  width: 376px;
  height: 248px;
  border-radius: 24px;
  overflow: hidden;
}
.item-top__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-top__content {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}
.item-top__content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-top__content-header span {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-black);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.item-top__content-rate {
  display: flex;
  gap: 0 11.63px;
  flex-shrink: 0;
}
.rate-left,
.rate-right {
  display: flex;
  gap: 0 3.64px;
}
.item-top__content-rate .rate-left span,
.item-top__content-rate .rate-right span {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
}

.item-top__content-footer {
  display: flex;
  gap: 0 6px;
}
.item-top__content-footer span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--purple);
}
.item-bottom__active {
  padding: 8px 16px;
  background-color: var(--bg-color);
  border-radius: 8px;
  margin-top: 8px;
  position: relative;
}
.item-bottom__active.active {
  padding: 24px;
  border-radius: 24px;
  box-shadow: 0px 6px 15px #dcd8ee;
  margin-top: 8px;
  margin-bottom: 20px;
}
.close-ring {
  position: absolute;
  top: calc(100% / 2 - 10px);
  right: 16px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in-out;
}
.close-ring.active {
  top: 8px;
  /* height: unset; */
  /* bottom: unset; */
  /* margin: unset; */
}
.item-bottom__active-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-bottom: 8px;
  padding: 5px;
}
.item-bottom__active-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}
.item-bottom__active-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--purple);
}
.item-bottom__active-list {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-height: 0;
  transition: all 0.3s ease-in-out;
}
.item-bottom__active-list.active {
  max-height: 56px;
  gap: 0 24px;
  padding-top: 16px;
}
.item-bottom__active-item {
  display: flex;
  justify-content: space-between;
  gap: 0 6.5px;
  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 4px 8px;
}
.item-bottom__active-list .item-bottom__active-item .item-content {
  display: flex;
  flex-direction: column;
}
.item-bottom__active-list
  .item-bottom__active-item
  .item-content
  span:nth-child(1) {
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  color: #a2a1ab;
}
.item-bottom__active-list
  .item-bottom__active-item
  .item-content
  span:nth-child(2) {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
  display: flex;
}
.item-bottom > div {
  transition: all 0.3s ease-in-out;
}
.item-bottom__hidden {
  padding: 8px 16px;
  background-color: var(--bg-color);
  border-radius: 8px;
  margin-top: 8px;
  position: relative;
}
.item-bottom__hidden-wrap {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.item-bottom__hidden-wrap .item-bottom__active-img {
  display: flex;
  align-items: center;
  margin-bottom: unset;
}
.infor-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  cursor: pointer;
  user-select: none;
}

/* home logged product */
.homelogged-product {
  padding-top: 112px;
}
.homelogged-product:last-child {
  padding-bottom: 64px;
}
.homelogged-product__sort {
  padding: 24px 0;
  border-bottom: 1px solid var(--purple);
}
/* home product selector */
.product-select__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
  width: 284px;
}
.product-select__input {
  padding: 8px 8px 8px 16px;
  background: #f5f5f7;
  border: 1px solid #eeedf2;
  -webkit-box-shadow: inset 0px 2px 6px rgba(113, 97, 186, 0.2);
  box-shadow: inset 0px 2px 6px rgba(113, 97, 186, 0.2);
  border-radius: 18px 0px 0px 18px;
  overflow: hidden;
  width: 100%;
}
.product-select__btn {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 0 18px 18px 0;
  width: 39.96px;
  background-color: var(--purple);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.drop-all__enterprise {
  border-radius: 14px;
  top: 40px;
  width: 100%;
  position: absolute;
  background-color: var(--bg-color);
  padding: 10px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 1;
}

.drop-all__enterprise ul li {
  list-style: none;
  padding: 8px 4px;
  border: solid 1px var(--purple);
  margin: 6px 0px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 18px;
  color: var(--purple);
}
/* end selector */
.homelogged-product__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homelogged-product__sort-left {
  display: flex;
  gap: 0 16px;
  align-items: center;
}
.homelogged-product__sort-left span {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--purple);
}
.sort-item {
  padding: 8px 16px;
  border-radius: 24px;
  cursor: pointer;
}
.homelogged-product__sort-left span:nth-child(2) {
  background-color: var(--purple);
  color: var(--bg-gray);
  border: 1px solid var(--purple);
}
.homelogged-product__sort-left span:nth-child(3) {
  color: var(--purple);
  border: 1px solid var(--purple);
}
.homelogged-product__list {
  padding-top: 36px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px 38px;
}

.homelogged-product__item {
  box-shadow: 0px 4px 20px rgba(113, 97, 186, 0.2);
  border-radius: 24px;
  background-color: var(--bg-gray);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.item-img {
  width: 100%;
  height: 180px;
}
.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homelogged-product__item .item-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.homelogged-product__item .item-content .item-content__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-black);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.item-content__info {
  margin-top: auto;
  flex-shrink: 0;
}

.item-content__info-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--purple);
  padding-top: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.price-rate__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  align-items: center;
}
.price-rate__wrap .rate {
  display: flex;
  gap: 0 2px;
}
.price-rate__wrap .price {
  display: flex;
  gap: 0 2px;
  align-items: center;
  gap: 0 4px;
}
.price-rate__wrap .price span:nth-child(1) {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #a2a1ab;
  text-decoration-line: line-through;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.price-rate__wrap .price span:nth-child(2) {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ee6955;
  margin-right: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.price-rate__wrap .rate {
  display: flex;
  align-items: center;
}
.price-rate__wrap .rate span {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.price-text-purple {
  color: #7161ba;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.dead-line {
  display: flex;
  padding-top: 8px;
  gap: 0 4px;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  color: #ee6955;
}

/* homelogged calendar right */
.homelogged-calendar__right {
  padding: 36px;
}
/* home slider section  */
.home-slider-section .rec.rec-pagination {
  align-items: center;
}
.home-slider-section .rec.rec-dot {
  border: 1px solid var(--purple);
  background-color: transparent;
  color: var(--purple);
  box-shadow: none;
  width: 8px;
  height: 8px;
}
.home-slider-section .rec.rec-dot.rec-dot_active {
  width: 32px;
  height: 12px;
  border-radius: 6px;
  background-color: var(--purple);
}

/* responsive */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .home-banner .home-banner__filter {
    width: 80% !important;
  }
  .result-content .home-banner__filter {
    width: 100%;
  }
  .homelogged-calendar {
    margin-top: 134px;
  }
  .homelogged-calendar__content {
    padding: 64px 30px;
  }
  .homelogged-calendar__wrap {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
  }
  .homelogged-calendar__left {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0 30px;
  }
  .homelogged-calendar__right {
    width: 100%;
    min-height: 250px;
  }

  .homelogged-location {
    padding: 64px 0 0 30px;
  }
  .homelogged-location__list {
    padding-right: 30px;
    gap: 0 22px;
  }
  .item-top__img {
    width: 320px;
    height: 180px;
  }
  .item-bottom__active-list {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
  }
  .item-bottom__active-list .item-bottom__active-item .item-content {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .item-bottom__active-list .item-bottom__active-item {
    padding: 12px;
  }
  .homelogged-product {
    padding: 64px 30px 0 30px;
  }
  .homelogged-product:last-child {
    padding-bottom: 64px;
  }

  .homelogged-product__list {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: unset;
    padding-top: 36px;
    gap: 22px;
  }
}

/* res-mobile */
/* Mobile */
@media only screen and (max-width: 767px) {
  .week-container__right-ac {
    padding: 0 24px 10px;
  }
  .homelogged-calendar__right .day-cell--faded {
    font-size: 14px;
  }
  .day-cell--today {
    border: 1px solid var(--purple);
  }
  .week-container__right {
    border-bottom: 1px solid var(--purple);
  }
  .week-day__right {
    font-size: 14px;
  }
  .week-pc {
    display: none;
  }
  .week-mb {
    display: block;
    width: 100%;
  }
  .home {
    background-color: var(--grey);
  }
  .home-banner {
    max-height: 188px;
    margin-top: 140px;
    border-radius: 0;
  }
  .home-banner .home-banner__filter {
    position: unset !important;
    width: 100% !important;
    box-shadow: none !important;
    padding: 20px 24px !important;
    margin-top: 216px !important;
    border-radius: 0px;
  }
  .home-banner__slogan {
    font-size: 24px;
    line-height: 28px;
    margin-top: -175px;
    white-space: normal;
  }
  .home-map {
    margin-top: 225px;
  }
  .home-order__step {
    flex-direction: column;
    margin-top: 24px;
  }
  .home-order__card {
    width: 100%;
  }
  .home-order__card-title {
    margin-top: 12px;
  }
  .home-calendar {
    margin-top: 36px;
  }
  .home-calendar-content {
    flex-direction: column-reverse;
    padding: 0px 24px;
  }
  .calendar-img {
    width: 100%;
  }
  .home-calendar-content ul li {
    width: 100%;
    padding: 0px;
  }
  .calendar-item__header {
    margin-bottom: 4px;
  }
  .calendar-item__header img {
    width: 20px;
    height: 20px;
  }
  .calendar-item__header span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
  }
  .calendar-appointment__item {
    padding: 2px;
    border-radius: 0px 6px 6px 0px;
    box-shadow: 0px 0px 11px 2px rgb(0 0 0 / 12%);
  }
  .calendar-appointment__item-row {
    width: 100%;
  }
  .home-flatform {
    margin-top: 36px;
  }
  .home-flatform__content {
    flex-direction: column;
  }
  .flatform-card {
    width: 100%;
  }
  .home-sign {
    margin-top: 36px;
  }
  /* calendar */
  .active-fixed {
    display: block;
  }
  .homelogged-calendar__left {
    gap: 0;
  }
  .h-par-calendar {
    display: none;
  }
  .homelogged-calendar .section-title {
    color: var(--purple);
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-align: center !important;
    padding: 0px;
  }
  .homelogged-calendar__content {
    background-color: var(--bgWhite);
    padding-top: 26px;
  }
  .homelogged-calendar {
    margin-top: 0px;
    padding-bottom: 16px;
    background-color: var(--bgWhite);
  }
  .homelogged-calendar__wrap {
    flex-direction: column;
    padding: 0px;
  }
  .homelogged-calendar__left {
    width: 100%;
    flex-direction: column-reverse;
  }
  .calendar {
    padding: 24px;
    border-top: solid 1px var(--purple);
    border-bottom: solid 1px var(--purple);
  }
  .calendar-mounth {
    padding: 8px 0px;
  }
  .week-container {
    padding-top: 0px;
  }
  .calendar-status {
    padding: 4px 24px;
  }
  .calendar-status__title {
    display: none;
  }
  .calendar-status__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .calendar-status__item img {
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
  .calendar-status .calendar-status__list .calendar-status__item span {
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
  }
  .calendar-choosedate {
    padding: 0px;
  }
  .homelogged-calendar__right {
    width: 100%;
    padding: 24px;
  }
  .week-container__right {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: var(--bg-color);
    margin-top: -100%;
    transition: all 0.7s;
    border-radius: 0px;
    width: 100%;
  }
  .week-container__right-ac {
    margin-top: 0px;
    transition: all 0.7s;
  }
  .calendar-appointment {
    display: unset;
  }
  .calendar-appointment__list {
    padding-top: 0px;
  }
  .calendar-appointment__item p:nth-child(2) {
    margin-bottom: 6px;
  }
  /* location list */
  .homelogged-location {
    padding-top: 20px;
    margin-top: 300px;
    background-color: var(--bgWhite);
  }
  .homelogged-location .section-title {
    padding-bottom: 0px;
    border-bottom: none;
  }
  .homelogged-location__list {
    padding: 24px;
    gap: 0 16px;
  }
  .homelogged-location__item {
    width: 240px;
    /* box-shadow: 0px 4px 20px rgba(113, 97, 186, 0.2); */
    border-radius: 12px;
  }
  .ite-top {
    width: 240px;
  }
  .item-top__img {
    width: 240px;
    height: 152px;
    border-radius: 12px 12px 0px 0px;
  }
  .item-top__content {
    padding: 12px;
  }
  .item-bottom__hidden {
    padding: 12px 12px;
    margin-top: 16px;
  }
  .item-top__content-header span {
    font-size: 16px;
    line-height: 20px;
    -webkit-line-clamp: 2;
  }
  .item-top__content-header {
    flex-wrap: wrap;
    gap: 8px 0;
  }
  .item-bottom__active-img {
    width: 40px;
    height: 40px;
  }
  .item-bottom__active {
    margin-top: 16px;
  }
  .item-bottom__active-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }
  .item-bottom__active-name {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: var(--text-black);
  }
  /* logged product */
  .homelogged-product {
    margin-top: 20px;
    background-color: var(--bgWhite);
    padding: 20px 24px;
  }
  .homelogged-product__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 16px;
    padding-top: 20px;
  }
  .homelogged-product__item {
    border-radius: 12px;
    box-shadow: none;
    background-color: var(--bgWhite);
  }
  .item-img img {
    height: 96%;
  }
  .homelogged-product__item .item-content {
    padding: 0px 0px 12px 0px;
  }
  .homelogged-product__item .item-content .item-content__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  .item-content__info-name {
    padding-top: 4px;
  }
  .price-rate__wrap {
    padding-top: 4px;
  }
  .product-select__input {
    display: none;
  }
  .homelogged-product__sort {
    /* temp */
    display: none;
  }
  .price-rate__wrap .rate {
    display: none;
  }
  .homelogged-location__item:first-child {
    margin-bottom: 0;
  }
  .homelogged-location .section-title {
    padding: 0 16px;
  }
  /* .item-bottom__active {
    border-radius: 0;
  } */
  .item-bottom__active-list {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
  }
  .item-bottom__active-list .item-bottom__active-item .item-content {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .item-top__content {
    box-shadow: 0px -9px 20px rgb(113 97 186 / 20%);
    border-radius: 0 0 12px 12px;
  }
  .home .drop-category {
    margin: 8px 0 0 0;
    box-shadow: rgb(155 152 167 / 59%) 0px 6px 37px;
  }
  .calendar-mounth__prev {
    left: 60px;
  }
  .calendar-mounth__next {
    right: 60px;
  }
  .homelogged-location .item-top {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
}
