.order{
      padding-left: 36px;
}
.order-head{
      padding-bottom: 24px;
      border-bottom: solid 1px var(--purple);
      width: 100%;
}
.order-head span{
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      color: var(--purple);
}