.hd {
  background-color: var(--bg-gray);
  padding: 28px 0px;
  border-bottom: 1px solid #eeedf2;
}
.mb-back__btn {
  display: none;
}
.hd-cnt {
  width: 100%;
  position: relative;
}
.hd-cnt img {
  cursor: pointer;
}
.hd-logo {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}
.hd-cnt__left {
  z-index: 1;
}
.hd-cnt__right {
  z-index: 1;
}
.mb-hd-cnt__right {
  display: none;
}
.hd-cnt__right-user-name {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--purple);
  text-transform: capitalize;
  cursor: pointer;
}
.header-search{
  position: relative;
}
.header-search-icon{
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.header-filter{
  position: fixed;
  left: 0;
  right: 0;
  margin-top: 100px;
  /* display: none; */
  /* top:8rem; */
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.header-file__ac{
  /* display: block; */
  /* top: 5rem; */
  margin-top: 48px;
  opacity: 1;
  visibility: visible;
  transition: all .3s;
}
.header-filter__wrap{
  width: 100%;
  display: flex;
  justify-content: center;
}
.hd-cnt__right-avatar {
  position: relative;
  margin: 0px 16px 0px 16px;
}
.hd-cnt__right-avatar img {
  cursor: pointer;
}
.hd-cnt__right-avatar-dot {
  width: 12px;
  height: 12px;
  margin: -15px 0px 0px 24px;
  position: absolute;
  border-radius: 100%;
  background-color: var(--red-cl);
}
.hd-cnt__right-cart {
  position: relative;
}
.hd-cnt__right-cart-total {
  position: absolute;
  color: var(--bg-gray);
  width: 18px;
  margin: -30px 0px 0px 16px;
  font-size: 12px;
  text-align: center;
  font-weight: 100;
  line-height: 18px;
  border-radius: 100%;
  background-color: var(--red-cl);
}
.hd-cnt__right-menu {
  cursor: pointer;
  margin: 0px 30px 0px 25px;
  position: relative;
}
.hd-menu {
  position: absolute;
  width: 380px;
  padding: 36px;
  box-shadow: 0px 10px 31px rgb(76 62 142 / 30%);
  transition: all 0.3s;
  border-radius: 24px;
  background-color: var(--bg-gray);
  border-radius: 24px;
  right: 0;
  z-index: 5;
}
.hd-menu__title {
  color: var(--purple);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border-bottom: solid 1px var(--purple);
  padding-bottom: 8px;
}
.hd-menu__item {
  padding: 9px 0px;
}
.hd-menu__item img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.hd-menu__item-text {
  color: var(--text-black);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 6px;
}
.hd-menu-box__bot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hd-noti {
  z-index: 11;
  position: absolute;
  background-color: var(--bg-gray);
  box-shadow: 0px 10px 31px rgb(76 62 142 / 30%);
  padding: 36px;
  display: flex;
  flex-direction: column;
  width: 440px;
  right: 0;
  border-radius: 24px;
  transition: all 0.2s;
}
.hd-noti__head {
  padding-bottom: 8px;
  border-bottom: solid 1px var(--purple);
}
.hd-noti__head-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: var(--purple);
}
.hd-noti__head-count {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--purple);
}
.hd-noti__list li {
  padding: 8px 0px;
}
.no-box-item__text {
  padding-left: 16px;
}
.no-box-item__text-name {
  color: var(--text-black);
  font-size: 14px;
  line-height: 20px;
}
.no-box-item__text-content {
  color: var(--text-black);
  margin: 4px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.no-box-item__text-time {
  color: var(--text-hover);
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
}
.hd-cnt__right-cart {
  cursor: pointer;
}

.hd-cnt__right-lang {
  cursor: pointer;
  padding: 8px 16px;
  position: relative;
  font-weight: 700;
  font-size: 0.875rem;
  border-radius: 18px;
  letter-spacing: 0.2px;
  background-color: var(--grey);
}
.hd-cnt__right-lang img {
  margin-right: 4px;
}
.hd-lang-box {
  z-index: 3;
  right: 0;
  top: 3rem;
  position: absolute;
  background-color: var(--bg-gray);
  box-shadow: 0px 10px 31px rgb(76 62 142 / 30%);
  padding: 24px 10px;
  border-radius: 24px;
  width: 440px;
  transition: all 0.3s;
}
.hd-lang-box__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--text-hover);
}
.hd-lang-box__item {
  padding: 6px 0px;
}
.hd-lang-box__item img {
  width: 18px;
  height: 18px;
}
.hd-lang-box__item span {
  padding: 0px 12px;
  font-weight: 500;
}
.hd-lang-box__item-curr {
  font-size: 12px;
  padding: 0px !important;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .hd {
    padding: 28px 32px;
  }
  .hd-cnt__right-avatar {
    margin: 0px 18px 0px 18px;
  }
  .hd-logo {
    left: -100px;
  }
  .mb-back__btn {
    display: none;
  }
}
/* responsive */
/* Mobile */
@media only screen and (max-width: 769px) {
  .hd {
    border-bottom: solid 1px var(--text-op);
    padding: 20px 24px;
    background-color: var(--purple);
  }
  .mb-back__btn {
    display: block;
    margin-left: -8px;
  }
  .hd-logo {
    display: none;
  }
  .hd-cnt__left {
    display: none;
  }
  .hd-cnt__right {
    width: 100%;
    justify-content: space-between;
  }
  .mb-hd-cnt__right {
    display: block;
  }
  .hd-cnt__right-cart {
    display: none;
  }
  .mb-hd-cnt__right .hd-cnt__right-cart {
    display: block;
    margin-right: 18px;
  }
  .hd-cnt__right-menu {
    display: none;
  }
  .hd-cnt__sign-btn {
    display: none;
  }
  .hd-cnt__right-lang {
    display: none;
  }
}
@media only screen and (max-width: 769px) {
  .hd-logo {
    display: none;
  }
  .hd-cnt__left {
    display: none;
  }
  .mb-hd-cnt__right {
    display: block;
  }
  .hd-noti {
    display: none;
  }
  .hd-cnt__right-user {
    flex-direction: row-reverse;
    gap: 0 8px;
  }
  .hd-cnt__right-user-name {
    /* background-color: var(--bgWhite); */
    color: white;
  }
  .hd-cnt__right-cart {
    display: none;
  }
  .mb-hd-cnt__right .hd-cnt__right-cart {
    display: block;
    margin-right: 18px;
  }
  .hd-cnt__right-avatar {
    margin: 0px 4px;
  }
  .hd-cnt__right-menu {
    display: none;
  }
  .hd-cnt__sign-btn {
    display: none;
  }
  .hd-cnt__right-lang {
    display: none;
  }
}
