.info_section{
    padding: 64px 36px;
    padding-bottom: 24px;
}
.title_section .title{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.title_section .subtitle{
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.display_section{
    width: calc(100% - 380px);
}
.title_section{
    padding-bottom: 16px;
}