.mb-mer-detail__cnt {
  display: none;
}
/* Mobile */
@media only screen and (max-width: 767px) {
  .mb-mer-detail__cnt {
    margin-top: 16px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    display: block;
    padding: 0px 24px;
    background-color: var(--bgWhite);
  }
  .mb-mer-detail__tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: burlywood; */
    border-bottom: solid 1px var(--bgGray);
  }
  .mb-mer-detail__tab-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 0px;
  }
}
