.suggest-cnt__title{
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--text-black);
}
.suggest-cnt__list-tem__img{
      width: 96px;
      height: 64px;
      border-radius: 8px;
      object-fit: cover;
}
.suggest-cnt__list-tem__detail{
      width: calc(100% - 128px);
      padding: 0px 70px 0px 16px;
}
.suggest-cnt__list-tem__top{
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      color: var(--text-black);
}
.suggest-cnt__list-tem__top span:nth-child(2){
      color: var(--purple);
}
.suggest-cnt__list-tem__bot div{
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--text-black);
}
.suggest-cnt__list-tem__bot div span{
      font-weight: 700;
}
.suggest-cnt__list-tem__bot div span:nth-child(2),
.suggest-cnt__list-tem__bot div span:nth-child(3){
      margin-left: 8px;
}
.suggest-cnt__list-tem__btn{
      cursor: pointer;
}
.suggest__retail-pr{
      text-decoration: line-through;
}
.suggest-card__list-name{
      font-size: 14px !important;
      line-height: 20px !important;
      font-weight: 700 !important;
      color: var(--text-black) !important;
}
.suggest-card__list-quantity button{
      border: solid 1px var(--purple);
      outline: none;
      color: var(--purple);
      font-weight: 700;
      width: 17px;
      border-radius: 100%;
      margin: 0px 11px;
}
.suggest-card__list-quantity span{
      margin-left: 26px;
}