.noti{
      padding: 64px 0px;
}
.noti-cnt{
      align-items: flex-start;
}
.noti-cnt_nav{
      width: 31.6%;
      padding: 36px;
      box-shadow: 0px 6px 15px #DCD8EE;
      border-radius: 24px;
      background-color: var(--bgWhite);
}
.noti-cnt_nav-list{
      padding-top: 36px;
}
.noti-cnt_nav-item{
      margin: 4px 0px;
      cursor: pointer;
}
.noti-cnt_nav-item__cnt{
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: var(--text-black);
      transition: all 0.3s;
}
.noti-cnt_nav-item__cnt span{
      background-color: var(--red-cl);
      margin-left: 6px;
      color: var(--bgWhite);
      width: 20px;
      height: 20px;
      text-align: center;
      border-radius: 100%;
}
.noti-cnt__ct{
      width: calc(100% - 31.6%);
      padding-left: 36px;
}
.noti-cnt__ct-head{
      padding: 16px 0px;
      border-bottom: solid 1px var(--purple);
}
.noti-cnt__ct-head span:nth-child(1){
      font-size: 20px;
      font-weight: 700;
      line-height: 27px;
      color: var(--purple);
}
.noti-cnt__ct-head span:nth-child(2){
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: var(--purple);
}
.noti-cnt__ct-list{
      padding: 10px 0px;
}
.noti-cnt__ct-list ul li{
      padding: 8px 0px;
      border-bottom: solid 1px var(--bgGray);
}
.noti-cnt__ct-list-item .item-text{
      padding-left: 16px;
      width: calc(100% - 16px);
}
.noti-cnt__ct-list-item .item-text .item-text__name{
      color: var(--text-black);
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
}
.noti-cnt__ct-list-item .item-text .item-text__detail{
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: var(--text-black);
      margin: 4px 0px;
}
.noti-cnt__ct-list-item .item-text .item-text__bottom span{
      color: var(--text-hover);
      font-size: 11px;
      font-weight: 500;
      line-height: 12px;
}
.noti-cnt__ct-list-item .item-text .item-text__bottom div{
      cursor: pointer;
      border-radius: 8px;
      background-color: var(--grey);
      padding: 4px 8px;
      margin-left: 16px;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      color: var(--purple);
}


/* res-mobile */
/* Mobile */
@media only screen and (max-width: 767px){
      .noti{
            padding-top: 10px;
      }
      .noti-cnt{
            flex-direction: column;
            padding: 0px 24px;
      }
      .noti-cnt .section-title{
            display: none;
      }
      .noti-cnt_nav{
            width: 100%;
            padding: 0px;
            box-shadow: none;
      }
      .noti-cnt_nav-list{
            padding-top: 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
      }
      .noti-cnt_nav-item{
            width: calc(100% / 3);
            padding: 0px 6px;
            justify-content: center;
      }
      .noti-cnt_nav-item img{
            display: none;
      }
      .noti-cnt__ct{
            width: 100%;
            padding: 0px;
      }
      .noti-cnt__ct-head{
            display: none;
      }
      .noti-cnt__ct-list-item .item-text{
            padding-left: 6px;
      }
      .noti-cnt__ct-list-item .item-text .item-text__bottom{
            justify-content: space-between;
      }
}