.product {
  background-color: var(--bg-gray);
}
.product .mer-sale-list {
  padding-bottom: 48px;
}
.product-cnt {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 64px 0px 64px 0px;
}
/* detail head */
.product-cnt__left {
  width: 50%;
  padding-right: 36px;
}
.product-cnt__left-img {
  width: 100%;
  height: 392px;
  object-fit: cover;
  filter: drop-shadow(0px 6px 15px #dcd8ee);
  border-radius: 24px;
}
.product-cnt__left-tabs .css-1h9z7r5-MuiButtonBase-root-MuiTab-root,
.product-cnt__left-tabs .css-1q2h7u5 {
  color: var(--purple) !important;
  font-size: 18px !important;
  line-height: 20px !important;
  font-weight: 700 !important;
  text-transform: unset !important;
  font-family: "Quicksand" !important;
  padding: 4px 8px !important;
  min-height: unset !important;
  margin-top: 14px !important;
}
.product-cnt__left-tabs .css-1aquho2-MuiTabs-indicator,
.product-cnt__left-tabs .css-ttwr4n {
  background-color: var(--purple) !important;
}
.product-cnt__left-tabs .css-13xfq8m-MuiTabPanel-root {
  padding: 24px 0px !important;
}
.product-desc__text {
  white-space: pre-line;
  padding-top: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
  height: 70px;
  overflow: hidden;
  box-shadow: inset 0px -22px 13px -5px rgb(59 58 64 / 16%);
  transition: all 0.7s;
}
.product-desc__more {
  margin-top: 30px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--purple);
  cursor: pointer;
}
.pr-de-mer__content {
  margin-top: 24px;
}
.pr-de-mer__content-avt {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 100%;
}
.detail-mer {
  padding-left: 18px;
}
.pr-de-mer__content-info {
  width: 100%;
}
.pr-de-mer__content .info-name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--purple);
}
.pr-de-mer__content .info-rate {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-black);
}
.pr-de-mer__content .info-address {
  width: calc(100% - 20px);
}
.pr-de-mer__content .content-left__info-detail {
  align-items: flex-start;
  margin: 8px 0px;
}
.pr-de-mer__content .detail-time {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--purple);
}
.pr-de-mer__content .detail-time span {
  margin-left: 12px;
}
.pr-de-mer__content .detail-btn {
  margin-top: 16px;
  width: 100%;
}
.pr-de-mer .mer__content-info__util {
  margin-top: 24px;
}
.pr-de-mer .section-title {
  font-size: 20px;
  line-height: 24px;
}
.product-cnt__right {
  width: 50%;
  box-shadow: 0px 6px 15px #dcd8ee;
  border-radius: 24px;
  padding: 36px;
}
.product-cnt__right-head {
  padding-bottom: 8px;
}
.product-cnt__right-head h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-black);
}
.product-cnt__right-head span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--purple);
  margin: 4px 0px;
}
.product-cnt__right-head__rate {
  gap: 0 4px;
}
.product-cnt__right-head__rate,
.product-cnt__right-head__rate span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
}
.product-cnt__right-head__rate span {
  font-weight: 700;
}
.product-cnt__right-price {
  height: max-content;
  padding-bottom: 12px;
}
.product-cnt__right-price .price-old {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--black);
  text-decoration: line-through;
}
.product-cnt__right-price .price__discount-sale {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.product-cnt__right-price .price__discount-sale span:nth-child(1) {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: var(--bgWhite);
  background-color: var(--red-cl);
  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 12px;
}
.product-cnt__right-price .price__discount-sale span:nth-child(2) {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--red-cl);
}
.product-cnt__right-body {
  padding: 24px 0px;
  border-top: solid 1px var(--purple);
  border-bottom: solid 1px var(--purple);
}
.product-cnt__right-body-item {
  display: flex;
  flex-direction: column;
}
.product-cnt__right-body-item span {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--purple);
}
.product-cate {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0px 24px 0px;
}
.product-cate__item {
  background-color: var(--bg-color);
  margin-right: 24px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--text-black);
  border-radius: 8px;
  cursor: pointer;
}
.product-quantity {
  margin: 16px 0px 24px 0px;
}
.product-quantity button {
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
  background-color: var(--bg-color);
  padding: 8px 15px;
  border-radius: 8px 0px 0px 8px;
}
.product-quantity button:nth-child(3) {
  background-color: var(--purple);
  color: var(--bg-color);
  border-radius: 0px 8px 8px 0px;
}
.product-quantity__number {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-black);
  box-shadow: inset 0px 2px 6px rgba(113, 97, 186, 0.2);
  padding: 8px 31px;
}
.product-code__discount {
  margin-top: 16px;
  width: fit-content;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 16px;
  border: none;
  outline: none;
  color: var(--purple);
  background-color: transparent;
  box-shadow: inset 0px 2px 6px rgba(113, 97, 186, 0.2);
  border-radius: 18px;
}
.product-cnt__right-bot__total {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-black);
  margin: 24px 0px 18px 0px;
}
.product-cnt__right-bot__total span:nth-child(2) {
  color: var(--purple);
}
.product-cnt__right-bot__add {
  background-color: var(--purple);
  color: var(--bg-color);
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .pr-de-mer .pr-de-mer__content {
    justify-content: unset;
    gap: 0 36px;
  }
  .pr-de-mer .detail-mer {
    padding-left: 0;
    width: 100%;
    align-items: flex-start;
  }

  .product-cnt__right {
    border-radius: 0;
  }
}
/* res-mobile */
/* Mobile */
@media only screen and (max-width: 767px) {
  .product-cnt__left-tabs {
    width: 100%;
    overflow-x: scroll;
    padding: 0px 12px;
  }
  .product-cnt__left-tabs .css-13xfq8m-MuiTabPanel-root {
    padding: 24px 12px !important;
  }
  .product-cnt__right {
    width: 100%;
  }
  .product-desc .section-title {
    display: none;
  }
  /* product detail mer */
  .pr-de-mer__content {
    align-items: flex-start;
    position: relative;
    height: 190px;
  }
  .pr-de-mer__content-avt {
    width: 52px;
    height: 52px;
  }
  .detail-mer {
    padding-left: 16px;
    width: calc(100% - 52px);
  }
  .pr-de-mer__content-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .pr-de-mer__content .info-name {
    font-size: 18px;
  }
  .pr-de-mer__content .content-left__info-detail {
    position: absolute;
    width: 100%;
    left: 0;
  }
  .pr-de-mer__content .detail-time {
    position: absolute;
    left: 0;
    margin-top: 134px;
  }
  .pr-de-mer__content .detail-btn {
    position: absolute;
    margin-top: 160px;
    left: 0;
    width: 100%;
    justify-content: center;
  }
  .pr-de-mer .mer__content-info__util {
    display: none;
  }
  .product-cnt__right {
    display: none;
  }
}
