.pu-success{
      padding: 24px;
      background-color: var(--bg-gray);
}
.pu-success__img{
      width: 36px;
      height: 36px;
}
.pu-success__title{
      margin-top: 8px;
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
      color: var(--purple);
}