.detail-name-mb{
      display: none;
}
/* res-mobile */
/* Mobile */
@media only screen and (max-width: 769px){
      .detail-name-mb{
            display: block;
      }
      .detail-name-mb__name{
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            color: var(--black);
      }
      .detail-name-mb__price .price-old{
            font-size: 18px;
            line-height: 28px;
            text-decoration: line-through;
            font-weight: 400;
            color: var(--text-hover);
      }
      .detail-name-mb__price .price-sale span:nth-child(1){
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            color: var(--bgWhite);
            padding: 4px 8px;
            background-color: var(--red-cl);
            border-radius: 8px;
            margin-right: 8px;
      }
      .detail-name-mb__price .price-sale span:nth-child(2){
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            color: var(--red-cl);
      }
      .detail-name-mb__add{
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 10;
            background-color: var(--bgWhite);
            padding: 24px;
            box-shadow: 0px 4px 20px rgba(113, 97, 186, 0.2);
            border-radius: 16px 16px 0px 0px;
      }
      .detail-name-mb__add button{
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            color: var(--bgWhite);
            width: 100%;
            padding: 8px 0px;
            border: none;
            outline: none;
            border-radius: 8px;
            background-color: var(--purple);
      }
      .mb-de-control_x{
            border-radius: 24px 24px 0px 0px;
            display: flex;
            justify-content: flex-end;
            padding: 24px 24px 8px 24px;
            background-color: var(--bgWhite);
      }
      .mb-de-control .product-cnt__right{
            display: block;
            background-color: var(--bgWhite);
            border-radius:0px;
            box-shadow: none;
            padding: 0px 24px 24px 24px;
      }
      .product-cnt__right-head h2{
            font-size: 24px;
      }
      .product-cnt__right-body{
            padding: 16px 0px;
      }
      .product-cate{
            padding: 8px 0px;
      }
      .suggest-card{
            display: none;
      }
      .product-quantity{
            margin: 8px 0px;
      }
}