.ser-pro-item{
    cursor: pointer;
    width: 100%;
    background-color: var(--bgWhite);
    border-radius: 8px;
    transition: all .4s;
}
.ser-pro-item:hover{
    box-shadow: 0 6px 15px #dcd8ee;
}
.ser-pro-item .ser-img{
    width: 100%;
    height: 182px;
    object-fit: cover;
    border-radius: 8px;
}
.ser-pro-item__cnt{
    padding: 4px;
}
.ser-pro-item .ser-img-cnt{
    position: relative;
}
.ser-pro-item .ser-promo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 0px 4px 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ser-pro-item .ser-promo__percent{
    width: 50px;
    height: 46px;
    background-color: var(--red-cl);
    clip-path: polygon(0 0, 100% 0%, 100% 65%, 50% 100%, 0 64%);
    font-size: 14px;
    font-weight: 700;
    color: var(--bgWhite);
    text-align: center;
    border-radius: 4px;
}
.ser-pro-item .ser-promo__bot-start,
.ser-pro-item .ser-promo__bot-bought{
    background-color: var(--bgWhite);
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 700;
    margin-right: 6px;
    border-radius: 6px;
}
.ser-pro-item .ser-promo__bot-bought{
    padding: 4.5px 8px;
}
.ser-pro-item .ser-promo__bot-bought span{
    color: var(--red-cl);
    margin-left: 4;
}
.ser-pro-item .ser-name{
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: var(--text-black);
}
.ser-pro-item .ser-price{
    display: flex;
    flex-direction: column;
}
.ser-pro-item .ser-price span:nth-child(1){
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: var(--red-cl);
}
.ser-pro-item .ser-price span:nth-child(2){
    font-size: 12px;
    line-height: 14px;
    color: var(--text-hover);
    font-weight: 700;
    text-decoration: line-through;
}
.ser-pro-item .ser-distance{
    margin: 4px 0px;
}
.ser-pro-item .ser-distance div{
    width: 6px;
    height: 6px;
    background-color: var(--purple);
    margin-right: 8px;
    border-radius: 100%;
}
.ser-pro-item .ser-distance span{
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}
.ser-pro-item .ser-org-address{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    color: var(--text-black);
}
.ser-pro-item .ser-org-address img{
    width: 14px;
    height: 14px;
    margin-top: 2px;
}