.cus-button{
    border: solid 1px var(--purple);
    cursor: pointer;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: var(--purple);
    background-color: transparent;
    padding: 8px 16px;
    border-radius: 18px;
    transition: 0.4s;
}
.cus-button:hover{
      opacity:  0.6;
}
/* res-mobile */
/* Mobile */
@media only screen and (max-width: 767px){
      .cus-button{
            padding: 4px 12px;
      }
}