.cart {
  background-color: var(--bg-gray);
}
.cart-section-item {
  margin-bottom: 64px;
}
.cart-notification {
  padding: 36px;
  width: 490px;
  background-color: var(--bg-gray);
  border-radius: 24px;
  box-shadow: 0px 6px 15px #dcd8ee;
  margin: 64px 0px;
}
.cart-notification__header span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--purple);
  margin-left: 8px;
}
.cart-notification p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
  margin: 16px 0px;
}
.cart-notification__or {
  width: 100%;
  position: relative;
}
.cart-notification__or-box {
  width: 100%;
}
.cart-notification__or-box-dis {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-black);
  padding: 8px 0px 8px 16px;
  width: calc(100% - 36px);
  background-color: var(--bg-gray);
  border-radius: 8px 0px 0px 8px;
  box-shadow: inset 0px 2px 6px rgba(113, 97, 186, 0.2);
}
.cart-notification__or-box-dr {
  cursor: pointer;
  padding: 6px;
  background-color: var(--purple);
  border-radius: 0px 8px 8px 0px;
}
.cart-notification__or-list {
  z-index: 2;
  padding: 12px;
  margin-top: 10px;
  background-color: var(--bg-gray);
  position: absolute;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 6px 15px #dcd8ee;
  transition: all 0.2s;
}
.cart-notification__or-list ul li {
  border-radius: 8px;
  cursor: pointer;
  margin: 3px 0px;
  background-color: var(--bg-gray);
  padding: 8px 16px;
  border: solid 1px var(--purple);
  color: var(--purple);
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
/* cart list */
.cart-list {
  width: 100%;
}
.cart-list-item__title {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-hover);
  padding-bottom: 16px;
}
.cart-list-item__title span:first-child {
  width: 50%;
}
.cart-list-item__title span:nth-child(2),
.cart-list-item__title span:nth-child(3),
.cart-list-item__title span:nth-child(4),
.cart-list-item__title span:nth-child(5) {
  width: 12.5%;
  text-align: end;
}
.cart-list-item__head {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--purple);
  margin-left: 8px;
  margin: 28px 0px;
}
.cart-item {
  width: 100%;
  padding: 12px 0px;
}
.cart-item__name {
  width: 50%;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-black);
}
.cart-item__name-img {
  width: 52px;
  height: 36px;
  filter: drop-shadow(0px 6px 15px #dcd8ee);
  border-radius: 8px;
  object-fit: cover;
  margin-right: 16px;
}
.cart-item__name-text {
  cursor: pointer;
  transition: all 0.2;
  font-weight: bold;
}
.cart-item__name-text:hover {
  color: var(--purple);
}
.cart-item__info{
  width: 50%;
  justify-content: space-between;
}
.cart-item__quantity,
.cart-item__price,
.cart-item__total,
.cart-item__control {
  width: 25%;
  justify-content: flex-end;
}
.cart-item__quantity {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--purple);
}
.cart-item__quantity button {
  width: 18px;
  border-radius: 100%;
  border: solid 1px var(--purple);
  outline: none;
  background-color: var(--purple);
  color: var(--bg-gray);
}
.cart-item__quantity span {
  margin: 0px 11px;
}
.cart-item__price,
.cart-item__total {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-black);
}
.cart-item__total {
  color: var(--purple);
}
.cart-bottom {
  bottom: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  width: 100%;
  padding: 24px 0px 24px 0px;
  background-color: var(--bg-gray);
  box-shadow: 0px 4px 20px rgba(113, 97, 186, 0.2);
}
.cart-bottom__content {
  justify-content: flex-end;
}
.cart-bottom__content span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
}
.cart-bottom__content span:nth-child(2) {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  color: var(--purple);
  margin: 0px 24px 0px 8px;
}
.cart-dialog {
  margin: 0px;
  transition: 0.3s;
  box-shadow: none;
}
.cart-dialog_org-list {
  box-shadow: none;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: transparent !important;
  box-shadow: none !important;
}
.css-uhb5lp {
  background-color: transparent !important;
  box-shadow: none !important;
}
/* cart must sign noti */
.cart-sign {
  background-color: var(--bg-gray);
  padding: 36px;
}
.cart-sign__head {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--purple);
}
.cart-sign__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
  margin: 16px 0px;
}
/* cart null */
.cart-null{
  padding: 64px 0px;
}
.cart-null__cnt span{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
  margin: 16px 0px;
}
/* responsive */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .cart-section-item,
  .cart-list {
    padding: 0 16px;
  }
}
/* Mobile */
@media only screen and (max-width: 767px) {
  .cart-notification{
    width: 100%;
    margin: 0px;
    box-shadow: none;
    padding: 24px 36px;
  }
  .cart-list{
    padding: 0px 24px;
  }
  .cart-list-item__title{
    display: none;
  }
  .cart-item{
    align-items: flex-start;
    border-bottom: solid 1px var(--bg-color);
  }
  .cart-item__name{
    width: 66.4%;
  }
  .cart-item__info{
    width: calc(100% - 66.4%);
    flex-direction: column-reverse;
    padding-left: 8px;
    position: relative;
  }
  .cart-item__quantity,
  .cart-item__price,
  .cart-item__total,
  .cart-item__control {
    width: 100%;
    justify-content: flex-start;  
  }
  .cart-item__price{
    display: none;
  }
  .cart-item__control{
    position: absolute;
    right: 0;
    width: fit-content;
  }
  .cart-item__quantity{
    margin-top: 8px;
  }
  .cart-bottom{
    padding: 8px 24px 24px 24px;
    position: fixed;
  }
  .cart-bottom__box{
    flex-direction: column;
    width: 100%;
  }
  .cart-bottom__content span:nth-child(2){
    margin: 0px;
    font-size: 16px;
    line-height: 20px;
  }
  .cart-bottom__box div:nth-child(1){
    margin-bottom: 4px;
    width: 100%;
    justify-content: space-between;
  }
  .cart-list-item__head{
    margin: 0px;
    padding: 16px 0px;
    border-bottom: solid 1px var(--purple);
  }
}
