.cmb-list{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
}
.cmb-list li{
      width: 25%;
      padding: 18px;
}
.cmb-list__item{
      position: relative;
      cursor: pointer;
      background-color: var(--bg-gray);
      border-radius: 24px;
      box-shadow: 0px 4px 20px rgba(113, 97, 186, 0.2);
      overflow: hidden;
}
.cmb-list__item-view{
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(6px);
      z-index: 2;
      margin-top: 340px;
      transition: all 0.3s;
      padding: 24px;
      justify-content: flex-end;
}
.cmb-list__item-view button{
      border-radius: 18px;
      width: 100%;
      margin-top: 12px;
      border: solid 1px var(--purple);
      cursor: pointer;
      outline: none;
      padding: 8px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      background-color: var(--purple);
      color: var(--bg-gray);
}
.cmb-list__item-view button:nth-child(2){
      background-color: transparent;
      color: var(--purple);
}
.cmb-list__item:hover .cmb-list__item-view{
      margin-top: 0px;
}
.cmb-list__item-box{
      position: relative;
}
.cmb-discount{
      position: absolute;
      z-index: 1;
      background-color: var(--red-cl);

}
.cmb-list__item-img{
      border-radius: 24px 24px 0px 0px;
      width: 100%;
      height: 180px;
      object-fit: cover;
}
.cmb-list__item-detail{
      padding: 16px;
}
.cmb-list__item-name{
      font-size: 20px;
      line-height: 24px;
      height: 48px;
      font-weight: 700;
      color: var(--black);
      max-height: 48px;
      width: 100;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
}
.cmb-list__item-spa-name{
      width: 100%;
      overflow:hidden;
      display:inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      margin: 6px 0px;
      color: var(--purple);
}
.cmb-list__item-price .left span:nth-child(1){
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--text-hover);
      text-decoration: line-through;
      margin-right: 4px;
}
.cmb-list__item-price .left span:nth-child(2){
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      color: var(--red-cl);
}
.cmb-list__item-price .right{
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: var(--text-black);
}
.cmb-list__item-date{
      font-size: 11px;
      line-height: 12px;
      font-weight: 700;
      color: var(--red-cl);
}