.home-se-cnt{
    margin: 72px 0px;
}
.home-se-sec-title{
    background-color: var(--red-cl);
    width: fit-content;
    padding: 9px 18px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: var(--bgWhite);
    border-radius: 12px 12px 0px 0px;
    margin-bottom: 32px;
    position: relative;
}
.home-se-sec-title::after{
    position: absolute;
    content: "";
    background-color: var(--red-cl);
    z-index: 1;
    width: 30px;
    height: 35px;
    -webkit-clip-path: polygon(0 0, 0% 100%, 51% 100%);
    clip-path: polygon(0 0, 0% 100%, 51% 100%);
    top: 0;
    margin: 7px 0px 0px 17px;
}
/* home tags */
/* .home-tags{
    margin-top: 32px;;
} */
.home-tags-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.home-tags-list li{
    width: calc(100% / 6);
    padding: 8px 16px;
}   
.home-tags .tag-item-cnt{
    background-color: var(--bgWhite);
    cursor: pointer;
    padding: 4px 0px;
    transition: all .3s;
    border-radius: 12px;
    box-shadow: 0px 6px 15px #DCD8EE;
}
.home-tags .tag-item-cnt:hover{
    box-shadow: 0px 10px 31px rgba(76, 62, 142, 0.3);
}
.home-tags .tag-item-cnt img{
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
}
.home-tags .tag-item-cnt span{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--text-black);
}
/* home promo */
.home-se-promo{
    margin: 42px 0px;
}
.home-promo-ser .ser-list{
    width: 100%;
    background-color: var(--bgWhite);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.home-promo-ser .ser-list li{
    width: 16.66%;
    background-color: var(--bgWhite);
    padding: 12px 8px;
}
.home-se-promo__header button{
    background-color: var(--bgWhite);
    outline: none;
    padding: 4px;
    border-radius: 100%;
}
/* home deal */
.home-deal-cnt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.deal-first{
    padding: 4px;
    width: 50%;
    cursor: pointer;
}
.deal-first img,
.home-deal-cnt .deal-second__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.deal-second{
    display: flex;
    justify-content: space-between;
    width: 50%;
    cursor: pointer;
}
.home-deal-cnt .deal-second__item{
    padding: 4px;
    width: 50%;
}
/* home card */
.home-card-cnt{
    margin: 48px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.home-card-cnt__left{
    width: 33.2%;
    height: 100%;
    padding-right: 8px;
}
.home-card-cnt__left .card-list{
    width: 100%;
    height: 100%;
}
.home-card-cnt__left .card-list li{
    width: 100%;
    background-color: var(--bgWhite);
    margin-bottom: 8px;
    padding: 16px;
    cursor: pointer;
    border-radius: 12px;
    border: solid 1px var(--bgGray);
    transition: all .3s;
}
.home-card-cnt__left .card-item-cnt img{
    margin-right: 12px;
}
.home-card-cnt__left .card-item-cnt span{
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: var(--text-black);
}
.home-card-cnt__left .card-list li button{
    border: solid 1px var(--text-hover);
    outline: none;
    border-radius: 100%;
    background-color: var(--bgWhite);
}
.home-card-cnt__right{
    padding-left: 8px;
    width: 66.4%;
    /* background-color: burlywood; */
    border: solid 1px var(--bgGray);
    border-radius: 12px;
}
.home-card-list-org .org-list{
    width: 100%;
    display: flex;
    justify-items: flex-start;
    flex-wrap: wrap;
}
.home-card-list-org .org-list li{
    width: 25%;
    padding: 12px 8px;
}
/* home province */
.home-province{
    margin: 42px 0px;
    background-color: var(--pink-2);
    padding: 32px 0px;
}
.home-province_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 248px 84px 248px; 
    gap: 16px;
}
.home-province .home-province_item{
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    transition: all .3s;
}
.home-province .home-province_item:hover{
    box-shadow: 0px 10px 31px rgba(76, 62, 142, 0.3);
}
.home-province .province-item-cnt{
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding: 4px 10px;
    background-color: var(--bgWhite);
    border-radius: 8px;
}
.home-province .province-item-cnt span:nth-child(1){
    font-size: 14px;
    line-height: 18px;
    color: var(--red-cl);
    font-weight: bold;
}
.home-province .province-item-cnt span:nth-child(2){
    font-size: 16px;
    line-height: 20px;
    color: var(--text-black);
    font-weight: 700;
}
.home-province .home-province_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-province .home-province_item:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/2;
}
.home-province .home-province_item:nth-child(2),
.home-province .home-province_item:nth-child(3){
    grid-row: 1/3;
}
.home-province .home-province_item:nth-child(4),
.home-province .home-province_item:nth-child(5){
    grid-row: 2/4;
}
.home-province .home-province_item:nth-child(6){
    grid-column: 3/5;
}
/* home services recommend */
.home-se-re{
    margin: 42px 0px;
}
/* Mobile */
@media only screen and (max-width: 767px) {
    .home-ca-cnt{
        display: none;
    }
    .home-se-cnt{
        margin-top: 124px;
    }
    .home-se-sec-title{
        margin-left: 8px;
        margin-bottom: 12px;
    }
    .home-tags{
        width: 100%;
        overflow-x: scroll;
    }
    .home-tags-list{
        width: max-content;
    }
    .home-tags-list li{
        padding: 6px;
    }
    .home-tags .tag-item-cnt{
        box-shadow: none;
        background-color: var(--bg-color);
    }
    .home-tags .tag-item-cnt span{
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        text-align: center;
    }
    .home-se-promo__header{
        padding-right: 20px;
    }
    .home-se-promo__header button img{
        width: 16px;
        height: 16px;
    }
    .home-promo-ser .ser-list li {
        width: 164px;
    }
    .home-deal-cnt{
        flex-direction: column;
        padding: 20px;
    }
    .deal-first{
        width: 100%;
    }
    .deal-second{
        width: 100%;
    }
    .home-card-cnt{
        flex-direction: column;
    }
    .home-card-cnt__left{
        width: 100%;
        padding: 0px 20px;
    }
    .home-card-cnt__right {
        width: 100%;
    }
    .home-card-list-org{
        width: 100%;
        overflow-x: scroll;
    }
    .home-card-list-org .org-list{
        flex-wrap: nowrap;
        width: max-content;
    }
    .home-card-list-org .org-list li {
        width: 164px;
    }
    .home-province_list {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        grid-template-columns: none;
        grid-template-rows: none;
        grid-gap:0px;
        gap: 0px;
    }
    .home-province .home-province_item{
        width: 49%;
        height: 224px;
        margin: 8px 0px;
    }
    .home-province .province-item-cnt{
        width: 100%;
        margin: 0px;
        padding: 4px;
        background-color: transparent;
    }
    .home-province .province-item-cnt span:nth-child(1){
        color: var(--bgWhite);
        font-weight: 700;
    }
    .home-province .province-item-cnt span:nth-child(2){
        font-size: 14px;
        color: var(--bgWhite);
    }
}