.mb-mer-wrap{
      display: none;
}
.mb-mer{
      width: 100%;
      padding: 0px 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
}
.mb-mer li{
      width: 50%;
      padding: 8px;
      height: 120px;
      cursor: pointer;
}
.mb-mer__item{
      width: 100%;
      height: 100%;
      box-shadow: 0px 4px 20px rgb(113 97 186 / 20%);
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.mb-mer__item-title{
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      color: var(--purple);
}
.mb-mer__item img{
      width: 32px;
      height: 32px;
      margin-top: 4px;
}



/* popup */
.mb-mer-cnt{
      top: 0px;
      position: fixed;
      width: 100%;
      height: 100vh;
      backdrop-filter: blur(8px);
      background-color: rgb(0 0 0 / 35%);
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transition: all 0.5s;
      margin-top: 300vh;
}
.mb-mer-cnt__box{
      width: 100%;
      max-height: 95%;
      height: max-content;
      background-color: var(--bgWhite);
      border-radius: 24px 24px 0px 0px;
      padding: 24px 24px 60px 24px;
}
.mb-mer-cnt__box-content{
      height: 100%;
}
/* branches mb */
.mb-br-content{
      max-height: 80vh;
      width: 100%;
      overflow-y: scroll;
}
.mb-br-content__item{
      align-items: flex-start;
      padding: 8px 0px;
      border-bottom: solid 1px var(--grey);
}
.mb-br-content__item-img{
      width: 92px;
      height: 64px;
      object-fit: cover;
      border-radius: 12px;
}
.mb-br-content__content{
      width: calc(100% - 92px);
      padding-left: 16px;
}
.mb-br-content__content .content-name{
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: var(--text-hover);
}
.mb-br-content__content .content-address{
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: var(--text-black);
}
.mb-br-content__content .content-address img{   
      transform: rotate(90deg);
}
/* res-mobile */
/* Mobile */
@media only screen and (max-width: 769px){
      .mb-mer-wrap{
            display: block;
      }
      .MuiPaper-root{
            background-color: transparent !important;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
      }
}
