.ser-content{
      background-color: var(--bg-gray);
      padding-top: 64px;
}
.ser-category{
      width: 24.9%;
      padding-right: 24px;
}
.ser-category-box__item{
      list-style: none;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: var(--purple);
      margin: 4px 0px;
      cursor: pointer;
      transition: all 0.4s;
}
.ser-category-box__item-child{
      padding-left: 18px;
}
.ser-category-box__item-child li{
      list-style: none;
      cursor: pointer;
}
/* service list */
.ser-list{
      width: 74.7%;
}

/* filter box */
.list-filter__left span{
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: var(--purple);
}
.list-filter__left button{
      margin-left: 16px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      cursor: pointer;
      border: solid 1px var(--purple);
      outline: none;
      padding: 8px 16px;
      color: var(--purple);
      background-color: transparent;
      border-radius: 18px;
      transition: all 0.4s;
}
.list-filter__right input{
      background-color: var(--bg-gray);
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--purple);
      padding: 8px 16px;
      border: none;
      outline: none;
      border-radius: 18px 0px 0px 18px;
      box-shadow: inset 0px 2px 6px rgba(113, 97, 186, 0.2);
}
.list-filter__right button{
      height: 36px;
      width: 36px;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: var(--purple);
      border-radius: 0px 18px 18px 0px;
}
/* end filter */
.ser-list__content{
      width: 100%;
      padding-top: 24px;
}
.ser-list__content-list{
      padding-bottom: 18px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
}
.ser-list__content-list-item{
      list-style: none;
}
.ser-list__content-list-item{
      list-style: none;
      width: 33.3%;
      padding: 18px;
}