.sign-res{
      margin-top: 104px;
}
.sign-res__title{
      margin-top: 32px;
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      color: #101012;
      white-space: pre-line;
}
.sign-res__text{
      margin: 4px 0px 32px 0px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: var(--text-hover);
      text-align: center;
      white-space: pre-line;
}