.pop-confirm {
  padding: 36px;
  background-color: var(--bg-gray);
  border-radius: 24px;
  width: max-content;
  margin: 0 auto;
  text-align: center;
}
.pop-confirm__head {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--purple);
}
.pop-confirm__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
  margin: 16px 0px;
}
