.result-content {
  padding: 0px 0px 64px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg-gray);
  height: 1018px;
}
.result-content .result-detail .org-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-black);
}
.wrapper-content {
  height: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* result null */
.result-null {
  padding: 64px;
}
.result-null__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--purple);
}
.result-null__text {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-black);
  margin: 16px 0px;
  white-space: pre-line;
}
/* result detail */
.re-mb-search {
  display: none;
}
.result-detail {
  width: 50%;
  padding: 64px 36px 0px 0px;
}
.result-detail__title {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
}
.result-detail__result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result-detail__result h3 {
  font-size: 32px;
  line-height: 36px;
  font-family: 700;
  color: var(--purple);
}
.result-detail__result-total {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--text-black);
}
.result-detail__result-total span {
  color: var(--purple);
}
.result-detail__path {
  padding-top: 8px;
  display: flex;
  align-items: center;
  color: var(--text-hover);
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}
.result-detail__org {
  height: 560px;
  display: flex;
  flex-direction: column;
  gap: 6px 0;
  margin: 16px 0 32px 0;
}
.result-detail__org li {
  list-style: none;
  cursor: pointer;
  border-radius: 24px;
  border: 1px solid transparent;
  transition: 0.4s;
}
.result-detail__org li:hover {
  background-color: var(--bg-gray-dark);
}
.wrapper-search {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .wraper-search {
    padding: 16px;
    border-radius: 24px;
  }
}

.result-detail__org-pin-map {
  display: none;
}

.result-item {
  display: flex;
  flex-direction: row;
  height: 156px;
}
.result-item__thumbnail {
  object-fit: cover;
  width: 33.3%;
  border-radius: 24px;
}
.result-item__detail {
  padding-left: 16px;
  width: 66.6%;
  flex-direction: column;
  flex: 1 1;
}
.wrapper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.detail-header__rate {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.detail-header__rate span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-black);
}
.result-item__detail-address {
  display: flex;
  align-items: center;
}
.result-item__detail-address {
  margin: 8px 0;
}
.result-item__detail-address span {
  padding-left: 4px;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
  cursor: pointer;
}
.result-item__detail-address .time {
  color: var(--purple);
}
.result-item__detail-address .time .time__status {
  margin: 0px 4px;
  color: var(--purple);
}
.result-item__detail-address .time .time_op_cl {
  color: var(--purple);
  font-weight: 700;
}
.org__service {
  display: flex;
  justify-content: space-between;
}
.org__service .org__service-item {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  background-color: var(--bg-color);
  border-radius: 8px;
}
.org__service-item span h4 {
  font-size: 9px;
  line-height: 12px;
  font-weight: 700;
  color: var(--text-hover);
}
.org__service-item span {
  padding-left: 4px;
}
.org__service-item span p {
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  color: var(--text-black);
}
/* map */
.result-map {
  height: 100%;
}
/* pagination */
.css-1oj2twp-MuiPagination-root {
  display: flex !important;
  justify-content: center !important;
}
.css-nhb8h9 {
  justify-content: center !important;
}
.css-1bnedkx.Mui-selected {
  background-color: var(--purple) !important;
}
.result-pagination {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result-pagination__state {
  display: flex;
  align-items: center;
  margin: 28px 0px 16px 0px;
}
.result-pagination__state img {
  cursor: pointer;
}
.result-pagination__state ul {
  display: flex;
  align-items: center;
}
.result-pagination__state ul li {
  list-style: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 11px;
  border-radius: 4px;
  transition: 0.4s;
}
.result-pagination__current {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-black);
}
.result-pagination__current span {
  font-weight: 700px;
  color: var(--purple);
  padding: 0px 4px;
}
.result-content .filter-form__li {
  padding: 0;
}

/* Tablet */
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .wraper-search {
    display: flex;
    flex: 1 1;
    position: relative;
    scroll-snap-align: center;
    width: auto;
  }
  .result-content {
    flex-direction: column;
    height: max-content;
  }
  .result-detail {
    width: 100%;
    padding: unset;
    padding: 64px 30px 0px 30px;
    display: flex;
    flex-direction: column;
  }
  .result-item__detail-header {
    padding-bottom: 8px;
  }
  .result-item__detail {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  .result-item__detail-header {
    align-items: unset;
  }
  .result-item__thumbnail {
    width: 100%;
    border-radius: 24px 24px 0 0;
    height: 168px;
  }
  .result-item {
    height: unset;
    width: 100%;
  }
  .result-detail__org {
    gap: 16px;
    display: grid;
    height: unset;
    column-gap: 0px;
    grid-auto-columns: 46%;
    grid-auto-flow: column;
    overflow-x: auto;
    margin: 0 0 0 -20px;
  }
  .result-detail__org li {
    display: flex;
    flex: 1;
    position: relative;
    scroll-snap-align: center;
    width: auto;
    margin: 20px 0 20px 20px;
  }
  .result-detail__org li:not(:last-child) {
    margin-right: 0;
  }
  .result-detail__org-pin-map {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .result-item {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 20px rgba(113, 97, 186, 0.2);
    border-radius: 24px;
  }
  .result-item__detail-header {
    flex-direction: column;
  }
  .wrapper-content {
    height: unset;
  }
  .org__detail {
    display: flex;
    flex-direction: column;
  }
  .wrapper-content {
    margin-top: auto;
    flex-shrink: 0;
  }
  .wrapper-header {
    flex-wrap: wrap;
    gap: 6px 0;
  }
  .result-content .result-detail .org-name {
    -webkit-line-clamp: 2;
  }
  .wrapper-mid {
    margin-top: auto;
    flex-shrink: 0;
  }
  .org__service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-top: 8px;
  }
  .org__service li {
    margin: 0;
  }

  .result-detail .result-map {
    display: none;
  }
  .result-content .filter-form__li {
    padding: 0;
  }
  .result-content .org__service .org__service-item {
    padding: 8px 16px;
  }
  .result-content .org__service .org__service-item span {
    display: flex;
    gap: 4px 0;
    flex-direction: column;
  }
}
/* Mobile */
@media only screen and (max-width: 739px) {
  .result-content {
    flex-direction: column;
    height: max-content;
  }
  .re-mb-search {
    display: block;
  }
  .re-mb-search__cnt {
    display: flex;
    padding: 8px 0px;
    border-bottom: solid 1px var(--bg-color);
  }
  .re-mb-search__cnt-inp__text {
    font-size: 16px;
    line-height: 20px;
    color: var(--text-hover);
    margin-left: 8px;
  }
  .result-detail__org li {
    position: relative;
  }
  .result-detail__org-pin-map {
    position: absolute;
    display: block;
    z-index: 2;
    right: 0;
    margin-top: 12px;
  }
  .result-detail {
    width: 100%;
    padding: 0px 24px;
  }
  .result-detail__path {
    display: none;
  }
  .result-detail__title {
    margin-top: 20px;
  }
  .result-detail__org {
    height: max-content;
    gap: 24px 0;
  }
  .result-item {
    height: unset;
  }
  .filter-form__box {
    flex-direction: column;
    margin: 12px 0px;
  }
  .filter-form__li {
    width: 100%;
    margin: 4px 0px;
    padding: 0px;
  }
  .result-detail__filter {
    display: none;
  }
  .result-item {
    align-items: center;
    padding: 0px;
    border-radius: 24px;
    box-shadow: 0px 4px 20px rgba(113, 97, 186, 0.2);
    flex-direction: column;
    justify-content: flex-start;
  }
  .detail-header__rate {
    display: none;
  }
  .result-item__thumbnail {
    width: 100%;
    height: 217px;
    border-radius: 24px 24px 0px 0px;
  }
  .result-item__detail {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
  }
  .result-item__detail img {
    width: 16px;
    height: 16px;
  }
  .result-item__detail-header .org-name {
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  .result-item__detail-address {
    align-items: flex-start;
  }
  .org__service {
    display: none;
  }
  .wrapper-content {
    height: unset;
  }
  /* .result-map{
      display: none;
  } */
}
