.result-content{
      padding: 4px 0px 64px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: var(--bg-gray);
      height: 1018px;
}
/* result null */
.result-null{
      padding: 64px;
}
.result-null__title{
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      color: var(--purple);
}
.result-null__text{
      text-align: center;
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      color: var(--text-black);
      margin: 16px 0px;
      white-space: pre-line;
}
/* result detail */
.re-mb-search{
      display: none;
}
.result-detail{
      width: 50%;
      padding: 64px 36px 0px 0px;
}
.result-detail__title{
      margin-top: 36px;
      display: flex;
      flex-direction: column;
}
.result-detail__result{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.result-detail__result h3{
      font-size: 32px;
      line-height: 36px;
      font-family: 700;
      color: var(--purple);
}
.result-detail__result-total{
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: var(--text-black);
}
.result-detail__result-total span{
      color: var(--purple);
}
.result-detail__path{
      padding-top: 8px;
      display: flex;
      align-items: center;
      color: var(--text-hover);
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
}
.result-detail__org{
      height: 560px;
}
.result-detail__org li{
      list-style: none;
      margin: 18px 0px;
      cursor: pointer;
      border-radius: 12px;
      transition: 0.4s;
}
.result-detail__org li:hover{
      box-shadow: 0px 6px 15px #DCD8EE;
}
.result-detail__org-pin-map{
      display: none;
}
.result-item{
      display: flex;
      flex-direction: row;
}
.result-item__thumbnail{
      object-fit: cover;
      width: 33.3%;
      height: 156px;
      border-radius: 24px;
}
.result-item__detail{
      padding-left: 16px;
      width: 66.6%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
.result-item__detail-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.result-item__detail-header .org-name{
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      color: var(--text-black);
}
.detail-header__rate{
      display: flex;
      align-items: center;
}
.detail-header__rate span{
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
      color: var(--text-black);
}
.result-item__detail-address{
      display: flex;
      align-items: center;
}
.result-item__detail-address span{
      padding-left: 4px;
      font-size: 14px;
      line-height: 20px;
      color: var(--text-black);
      cursor: pointer;
}
.result-item__detail-address .time{
      color: var(--purple);
}
.result-item__detail-address .time .time__status{
      margin: 0px 4px;
      color: var(--purple);
}
.result-item__detail-address .time .time_op_cl{
      color: var(--purple);
      font-weight: 700;
}
.org__service{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}
.org__service .org__service-item{
      display: flex;
      align-items: center;
      padding: 4px 8px;
      background-color: var(--bg-color);
      border-radius: 8px;
}
.org__service-item span h4{
      font-size: 9px;
      line-height: 12px;
      font-weight: 700;
      color: var(--text-hover);
}
.org__service-item span{
      padding-left: 4px;
}
.org__service-item span p{
      font-size: 11px;
      line-height: 12px;
      font-weight: 700;
      color: var(--text-black);
}
/* map */
.result-map{
      height: 100%;
}
/* pagination */
.css-1oj2twp-MuiPagination-root{
      display: flex !important;
      justify-content: center !important;
}
.css-nhb8h9{
      justify-content: center !important;
}
.css-1bnedkx.Mui-selected{
      background-color: var(--purple) !important;
}
.result-pagination{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.result-pagination__state{
      display: flex;
      align-items: center;
      margin: 28px 0px 16px 0px;
}
.result-pagination__state img{
      cursor: pointer;
}
.result-pagination__state ul{
      display: flex;
      align-items: center;
}
.result-pagination__state ul li{
      list-style: none;
      cursor: pointer;
      font-size: 14px;
      line-height: 20px;
      padding: 4px 11px;
      border-radius: 4px;
      transition: 0.4s;
}
.result-pagination__current{
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--text-black);
}
.result-pagination__current span{
      font-weight: 700px;
      color: var(--purple);
      padding: 0px 4px;
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px){
     
}
/* Mobile */
@media only screen and (max-width: 739px){
  .result-content{
      flex-direction: column;
      height: max-content;
  }
  .re-mb-search{
      display: block;
  }
  .re-mb-search__cnt{
        display: flex;
        padding: 8px 0px;
        border-bottom: solid 1px var(--bg-color);
  }
  .re-mb-search__cnt-inp__text{
      font-size: 16px;
      line-height: 20px;
      color:var(--text-hover);
      margin-left: 8px;
  }
  .result-detail__org li{
      position: relative;
  }
  .result-detail__org-pin-map{
      position: absolute;
      display: block;
      z-index: 2;
      right: 0;
      margin-top: 12px;
  }
  .result-detail{
      width: 100%;
      padding: 0px 24px;
  }
  .result-detail__path{
        display: none;
  }
  .result-detail__title{
        margin-top: 20px;
  }
  .result-detail__org{
      height: max-content;
  }
  .filter-form__box{
      flex-direction: column;
      margin: 12px 0px;
  }
  .filter-form__li{
      width: 100%;
      margin: 4px 0px;
      padding: 0px;
  }
  .result-detail__filter{
        display: none;
  }
  .result-item{
      align-items: center;
      padding: 0px;
      border-radius: 24px;
      box-shadow: 0px 4px 20px rgba(113, 97, 186, 0.2);
      flex-direction: column;
      justify-content: flex-start;
  }
  .detail-header__rate{
      display: none;
  }
  .result-item__thumbnail{
      width: 100%;
      height: 217px;
      border-radius: 24px 24px 0px 0px;
  }
  .result-item__detail{
      width: 100%;
      padding: 8px 16px;
  }
  .result-item__detail img{
        width: 16px;
        height: 16px;
  }
  .result-item__detail-header .org-name{
      font-size: 16px;
      line-height: 20px;
  }
  .result-item__detail-address{
      align-items: flex-start;
  }
  .org__service{
      display: none;
  }
  /* .result-map{
      display: none;
  } */
}