.mb-result-map {
  height: 64vh;
  background-color: var(--bgWhite);
}
.mb-map .mb-card {
  height: calc(100vh - 64vh);
  background-color: var(--bgWhite);
}
.mb-card-list {
  width: 100%;
  height: 100%;
  background-color: var(--bgWhite);
  z-index: 4;
  padding: 24px;
  overflow-y: scroll;
}
.mb-card-list__list {
  display: flex;
}
.mb-card-list__list li {
  width: 216px;
  padding: 0px 10px;
}
.mb-card-list__item {
  box-shadow: 0px 6px 15px #dcd8ee;
  border-radius: 16px;
  width: 196px;
  background-color: var(--bgWhite);
}
.mb-card-list__item .item-thumbnail {
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  height: 123px;
  object-fit: cover;
}
.mb-card-list__item .item-cnt {
  padding: 8px 16px;
}
.mb-card-list__item .item-cnt__name {
  color: var(--purple);
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  text-align: left;
  margin-bottom: 14px;
}

.mb-card-list__item .item-cnt__address,
.mb-card-list__item .item-cnt__time,
.mb-card-list__item .item-cnt__price {
  display: flex;
  justify-content: flex-start;
  margin: 4px 0;
}
.mb-card-list__item .item-cnt__address img,
.mb-card-list__item .item-cnt__time img,
.mb-card-list__item .item-cnt__price img {
  width: 16px;
  height: 16px;
}
.mb-card-list__item .item-cnt__address span {
  padding-left: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  color: var(--text-hover);
  text-align: left;
}
.mb-card-list__item .item-cnt__time span {
  padding-left: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-hover);
}
.mb-card-list__item .item-cnt__price {
  align-items: center;
}
.mb-card-list__item .item-cnt__price span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  padding-left: 4px;
  color: var(--purple);
}
.mb-map .slick-list ul li {
  padding: unset;
}
.mb-map .slick-track {
  padding: 0;
}
.mb-card-list__item {
  width: unset;
}
.mb-map .slick-slide li {
  padding: 0 0 24px 0;
}
.mb-map .slick-slide,
.mb-map .slick-list {
  background-color: var(--bgWhite);
}
/* .mb-map .slick-slide:not(.slick-current) {
  filter: brightness(0.5);
  transition: transform 0.3s ease-in-out;
} */
.mb-map .slick-slide.slick-current {
  transform: scale(1.1);
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}
.mb-map .slick-slide {
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.mb-map .btn-map {
  padding: 8px 16px;
  border: 0;
  background-color: var(--purple);
  color: white;
  border-radius: 8px;
  margin: 8px 0;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}
