.re-org-item{
    cursor: pointer;
    transition: all .4s;
    border-radius: 8px;
}
.re-org-item:hover{
    box-shadow: 0 6px 15px #dcd8ee;
}
.re-org-item .org-img-cnt{
    position: relative;
}
.re-org-item .org-img-cnt__rate{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 4px 4px 4px;
}
.org-img-cnt__rate-item{
    background-color: var(--bgWhite);
    margin: 0px 4px;
    padding: 0px 8px;
    border-radius: 4px;
}
.org-img-cnt__rate-item img{
    width: 16px;
    height: 16px;
}
.org-img-cnt__rate-item span{
    font-size: 14px;
    font-weight: 700;
}
.re-org-item .re-org-item__img{
    width: 100%;
    height: auto;
    min-height: 182px;
    border-radius: 8px;
}
.re-org-item__cnt{
    padding: 4px;
}
.re-org-item__cnt .org_name{
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: var(--text-black);
}
.re-org-item__cnt .org_address,
.re-org-item__cnt .org_tag,
.re-org-item__cnt .org_distance{
    display: flex;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    color: var(--text-black);
    padding: 1.5px 0px;
}
.re-org-item__cnt .org_address img,
.re-org-item__cnt .org_tag img{
    width: 14px;
    height: 14px;
    margin-right: 2px;
    margin-top: 2px;
}
.re-org-item__cnt .org_distance div{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--purple);
    margin: 0px 4px 0px 4px;
}