.mb-hd-menu {
  background-color: var(--bgWhite);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mb-hd-menu__btn {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--text-op);
}
.mb-hd-menu__btn span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--purple);
}
.mb-hd-menu__btn button {
  height: 36px;
  border: none;
  outline: none;
  background-color: transparent;
}
.mb-hd-menu__cnt {
  padding: 0px 24px;
}
.mb-hd-menu__sign-out {
  padding: 24px;
}
.mb-hd-menu__sign-out button {
  width: 100%;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--bgWhite);
  background-color: var(--purple);
  padding: 12px 0px;
  border-radius: 12px;
}
.mb-hd-menu__btn-sign span {
  padding: 6px 12px;
  border: solid 1px var(--purple);
  border-radius: 8px;
}
.mb-hd-menu__btn-sign span:nth-child(1) {
  margin-right: 12px;
  color: var(--bgWhite);
  background-color: var(--purple);
}
