.section-title{
      font-size: 32px;
      line-height: 36px;
      color: var(--purple);
      white-space: pre-line;
      font-weight: bold;
}
/* res-mobile */
/* Mobile */
@media only screen and (max-width: 767px){
      .section-title{
            padding: 0px;
            font-size: 24px;
            line-height: 32px;
            text-align: center !important;
      }
}