.countdown {
  background: #23a6d5;
  position: relative;
  background: linear-gradient(
    -45deg,
    #ffff00,
    #ee7752,
    #e73c7e,
    #326aeb,
    #23a6d5,
    #23d5ab
  );
  background-size: 500% 500%;
  animation: gradient 20s ease infinite;
  -webkit-animation: gradient gradient 20s ease infinite;
  -moz-animation: gradient gradient 20s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.countdown-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
  color: white;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.wraper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.countdown-desc {
  color: white;
  font-size: 20px;
  line-height: 24px;
}
.countdown-list {
  display: flex;
  gap: 0 20px;
  justify-content: center;
}
.countdown-item {
  width: 70px;
  height: 70px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 30px 0 36px 0;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}
.countdown-item span:nth-child(2) {
  font-size: 10px;
  margin-top: 6px;
  font-weight: 500;
}
.countdown-item span:nth-child(1) {
  font-size: 28px;
  line-height: 24px;
  font-weight: bold;
  color: var(--text-black);
}
.countdown-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: 14px;
  line-height: 24px;
  border-radius: 20px;
  padding: 8px 16px;
  width: 200px;
  margin: 0 auto;
  cursor: pointer;
}

.form-contact {
  padding: 36px;
  background-color: var(--bg-gray);
  text-align: center;
}
.form-contact .form-contact__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  color: var(--purple);
  margin-bottom: 8px;
}
.form-contact .form-contact__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.form-contact .wrap-btn:not(:nth-child(2)) {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
.form-contact .err-text {
  text-align: left;
  margin: 0px 0 0 10px;
}
.sign-form__box {
  margin: 8px 0;
}
.countDownSection .MuiPaper-root {
  border-radius: 0 !important;
  max-width: unset !important;
}
@media screen and (max-width: 767px) {
  .countdown-title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .form-contact {
    border-radius: 24px;
    margin: 0 24px;
  }
  .countdown-desc {
    font-size: 16px;
  }
  .countdown-item {
    width: 50px;
    height: 50px;
    margin: 20px 0 24px 0;
  }
  .countdown-btn {
    font-size: 14px;
  }
  .countdown-item span:nth-child(2) {
    font-size: 8px;
    margin-top: unset;
  }
  .countdown-item span:nth-child(1) {
    font-size: 20px;
  }
}
