.mb-rcm-wrapper{
      display: none;
}
/* res-mobile */
/* Mobile */
@media only screen and (max-width: 769px) {
      .mb-rcm-wrapper{
            display: block;
            padding: 24px;
      }
      .mb-rcm-wrapper__title{
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            color: var(--purple);
            margin-bottom: 24px;
      }
      .mb-rcm-wrapper__cnt{
            width: 100%;
            overflow-y: scroll;
      }
      .mb-rcm-wrapper__cnt-list{
            width: fit-content;
            display: flex;
      }
      .mb-rcm-wrapper__cnt-list li{
            margin-right: 24px;
      }
}